</head>
  <body>
    <div class="game">
      <p>
        Bowling game
      </p>
      <form action = / >
      <div class="bowl button">
      <input type="submit" value="bowl" />
      </div>
      </form>
      <script src="src/game.js"></script>
  </body>
</html>
