<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
  <title>Bowling HTML</title>
  <script type="text/javascript" src="bowling.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"> </script>
  <!-- <link rel="stylesheet" type="text/css" href="style/style.css"> -->
</head>
<body>
<h1 style = "text-align:center"> It's bowling time </h1>
<div style = "text-align:center" id='buttons'>
  <button class='submit' value="0">0</button>
  <button class='submit' value="1">1</button>
  <button class='submit' value="2">2</button>
  <button class='submit' value="3">3</button>
  <button class='submit' value="4">4</button>
  <button class='submit' value="5">5</button>
  <button class='submit' value="6">6</button>
  <button class='submit' value="7">7</button>
  <button class='submit' value="8">8</button>
  <button class='submit' value="9">9</button>
  <button class='submit' value="10">STRIKE!</button>
</div>
</br></br>
  Pins: <div id = 'pins'> </div></br>
  Frames: <div id="frames"></div></br>
  Score Total: <div id = 'total'> </div> </br>
  <p id='gameOver'></p>



  <script type="text/javascript" src="app.js"></script>

</body>
