<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
  <title>Thermostat HTML</title>
  <script type="text/javascript" src="bowling.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"> </script>
  <script type="text/javascript" src="app.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="style/style.css"> -->
</head>
<body>
<h1> It's bowling time </h1>

  <input type='text' id='score'>
  <input type='submit' id='submit' value="It's bowling time!">
  <div id = 'scorecard'> </div>
  <div id = 'total'> </div>



  <script type="text/javascript" src="app.js"></script>

</body>
