<h1 class="heading">Bowling Score Calculator</h1>

<div id="button_background" class="container-fluid col-sm-8 col-sm-offset-2">
  <button id='button0' class='button'>0</button>
  <button id='button1' class='button'>1</button>
  <button id='button2' class='button'>2</button>
  <button id='button3' class='button'>3</button>
  <button id='button4' class='button'>4</button>
  <button id='button5' class='button'>5</button>
  <button id='button6' class='button'>6</button>
  <button id='button7' class='button'>7</button>
  <button id='button8' class='button'>8</button>
  <button id='button9' class='button'>9</button>
  <button id='button10' class='button'>10</button>
</div>

<div id="grid_background" class="container-fluid col-sm-10 col-sm-offset-1">
  <div id="grid">
    <div id="frame_number1" class="frame_number">1</div>
    <div id="frame_number2" class="frame_number">2</div>
    <div id="frame_number3" class="frame_number">3</div>
    <div id="frame_number4" class="frame_number">4</div>
    <div id="frame_number5" class="frame_number">5</div>
    <div id="frame_number6" class="frame_number">6</div>
    <div id="frame_number7" class="frame_number">7</div>
    <div id="frame_number8" class="frame_number">8</div>
    <div id="frame_number9" class="frame_number">9</div>
    <div id="frame_number10" class="frame_number">10</div>
    <div id="frameNo1" class="frame">
      <div id="bowl2" class="score1">
      </div>
      <div id="bowl1" class="score2">
      </div>
      <span id="frame1"></span>
    </div>
    <div class="frame">
      <div id="bowl4" class="score1">
      </div>
      <div id="bowl3" class="score2">
      </div>
      <span id="frame2" class='frame_content'></span>
    </div>
    <div class="frame">
      <div id="bowl6" class="score1">
      </div>
      <div id="bowl5" class="score2">
      </div>
      <span id="frame3" class='frame_content'></span>
    </div>
    <div class="frame">
      <div id="bowl8" class="score1">
      </div>
      <div id="bowl7" class="score2">
      </div>
      <span id="frame4" class='frame_content'></span>
    </div>
    <div class="frame">
      <div id="bowl10" class="score1">
      </div>
      <div id="bowl9" class="score2">
      </div>
      <span id="frame5" class='frame_content'></span>
    </div>
    <div class="frame">
      <div id="bowl12" class="score1">
      </div>
      <div id="bowl11" class="score2">
      </div>
      <span id="frame6" class='frame_content'></span>
    </div>
    <div class="frame">
      <div id="bowl14" class="score1">
      </div>
      <div id="bowl13" class="score2">
      </div>
      <span id="frame7" class='frame_content'></span>
    </div>
    <div class="frame">
      <div id="bowl16" class="score1">
      </div>
      <div id="bowl15" class="score2">
      </div>
      <span id="frame8" class='frame_content'></span>
    </div>
    <div class="frame">
      <div id="bowl18" class="score1">
      </div>
      <div id="bowl17" class="score2">
      </div>
      <span id="frame9" class='frame_content'></span>
    </div>
    <div id="frameNo10" class="frame">
      <div id="bowl21" class="score1">
      </div>
      <div id="bowl20" class="score2">
      </div>
      <div id="bowl19" class="score3">
      </div>
      <span id="frame10" class='frame_content'></span>
    </div>
  </div>
  <div id='score'>
    <div id="ts" class="frame_number">Total Score</div>
    <div id="ps" class="frame_number">Potential Score</div>
  </div>
  <div id='score'>
    <div id="total_score" class="frame">
    </div>
    <div id="potential_score" class="frame">
    </div>
  </div>
</div>
<div class="container-fluid col-sm-8 col-sm-offset-4">
  <a id='start_over' href='/' class='col-sm-4 col-sm-offset-4'>Start Over</a>
</div>
