<h1 class="heading">Bowling Score Calculator</h1>

<div id="button_background" class="container-fluid col-sm-8 col-sm-offset-2">
  <button class='button'>0</button>
  <button class='button'>1</button>
  <button class='button'>2</button>
  <button class='button'>3</button>
  <button class='button'>4</button>
  <button class='button'>5</button>
  <button class='button'>6</button>
  <button class='button'>7</button>
  <button class='button'>8</button>
  <button class='button'>9</button>
  <button class='button'>10</button>
</div>

<div id="grid_background" class="container-fluid col-sm-10 col-sm-offset-1">
  <div id="grid">
    <div id="frame_number1" class="frame_number">1</div>
    <div id="frame_number2" class="frame_number">2</div>
    <div id="frame_number3" class="frame_number">3</div>
    <div id="frame_number4" class="frame_number">4</div>
    <div id="frame_number5" class="frame_number">5</div>
    <div id="frame_number6" class="frame_number">6</div>
    <div id="frame_number7" class="frame_number">7</div>
    <div id="frame_number8" class="frame_number">8</div>
    <div id="frame_number9" class="frame_number">9</div>
    <div id="frame_number10" class="frame_number">10</div>
    <div id="frame1" class="frame">
      <div id="bowl1" class="score1">
      </div>
      <div id="bowl2" class="score2">
      </div>
    </div>
    <div id="frame2" class="frame">
      <div id="bowl3" class="score1">
      </div>
      <div id="bowl4" class="score2">
      </div>
    </div>
    <div id="frame3" class="frame">
      <div id="bowl5" class="score1">
      </div>
      <div id="bowl6" class="score2">
      </div>
    </div>
    <div id="frame4" class="frame">
      <div id="bowl7" class="score1">
      </div>
      <div id="bowl8" class="score2">
      </div>
    </div>
    <div id="frame5" class="frame">
      <div id="bowl9" class="score1">
      </div>
      <div id="bowl10" class="score2">
      </div>
    </div>
    <div id="frame6" class="frame">
      <div id="bowl11" class="score1">
      </div>
      <div id="bowl12" class="score2">
      </div>
    </div>
    <div id="frame7" class="frame">
      <div id="bowl13" class="score1">
      </div>
      <div id="bowl14" class="score2">
      </div>
    </div>
    <div id="frame8" class="frame">
      <div id="bowl15" class="score1">
      </div>
      <div id="bowl16" class="score2">
      </div>
    </div>
    <div id="frame9" class="frame">
      <div id="bowl17" class="score1">
      </div>
      <div id="bowl18" class="score2">
      </div>
    </div>
    <div id="frame10" class="frame">
      <div id="bowl19" class="score1">
      </div>
      <div id="bowl20" class="score2">
      </div>
      <div id="bowl21" class="score3">
      </div>
    </div>
  </div>
  <div id='score'>
    <div id="ts" class="frame_number">Total Score</div>
    <div id="ps" class="frame_number">Potential Score</div>
  </div>
  <div id='score'>
    <div id="total_score" class="frame">
    </div>
    <div id="potential_score" class="frame">
    </div>
  </div>
</div>
