body {
  background-color: beige;
}


.scorecard {

}

.scorecard-box {
  margin: 5px 0px;
  vertical-align: top;
  position:inherit;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

.inner {
  text-align: center;
  height: 50px;
  width: 50px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
  top: 0px;
  left: 50px;
}

#final-score {
  height: 70px;
}
