body {
  background-color: beige;
  text-align: center;
}


.scorecard {
  width: 100%;
}

.scorecard-box {
  margin: 3px;
  float: left;
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

.header {
  height: 20px;
  border-bottom: 1px solid black;
}

.inner1, .inner2 {
  float: left;
  height: 25px;
  width: 49.5px;
  border-bottom: 1px solid black;
  position: relative;
  top: 0px;
}

.inner1 {
  left: 0px;
}

.inner2 {
  border-left: 1px solid black;
}

.roll-buttons {
  clear: both;
}

.hide {
  display: none;
}

#f10-inner1, #f10-inner2, #f10-inner3 {
  float:left;
  height: 25px;
  width: 32.5px;
  border-bottom: 1px solid black;
  position: relative;
  top: 0px;
}

#f10-inner2, #f10-inner3 {
  border-left: 1px solid black;
}

#final-score {
  height: 70px;
}
