/*This is for the control section
––––––––––––––––––––––––*/


.controls{
  width: 60%;
  height:100vh;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  text-align: right;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.visuals{
  width:15%;
  vertical-align: top;
  height:100vh;
  display:inline-block;
  background-color: black;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}
.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  color: white;
  font-family: Arial;
  font-weight: bolder;
  font-size: 80px;
  margin: 0 auto;
}

.bottom-container{
  position: relative;
  vertical-align: bottom;
  margin-top: 100px;
  margin-left: 10px;
}

.local{
  width:25%;
  vertical-align: top;
  height:100vh;
  display:inline-block;
  color: white;
  text-align: right;
  background-color: black;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.local2{
  padding-right: 10px;
}


#ajax-weather{
  margin-top: 15px;
  font-size: 100%;
  font-weight: bold;
  color: inherit;
}

.weather {
  position: relative;
  background-color: black;
  height:200px;
  width: 100%;
}

#weather-icon{
  margin-left: 25px;
  margin-top: 25px;
  vertical-align: middle;
  height: 150px;
  width: 150px;
}

#city{
  border-color: black;
  background-color: inherit;
  /*border-bottom: 0.1px solid black;*/

  /*border-radius: 3px;*/
  padding: 5px 5px;
  margin: 0 auto;
  margin-bottom: 4px;
  font-size: 80%;
  color: white;
  text-align: right;
}

body{
  font-family: Helvetica-light;
}
button{
  background: none;
  border: none;
  /*shadow: none;*/

}
.temp button {
  font-size: 175%;
  font-weight: bold;
}

.PSM-section button {
  font-size: 150%;
  font-weight: bold;
  margin-top: 5px;
}

.PSM-section {
  width:100%:
  margin-top: 5px;
}

.PSS{
  font-weight: bolder;
}


h1{
  margin-top: 150px;
  font-size: 800%;
  font-weight: bold;
  margin-bottom: 0px;
}
#temp_display{
  float: left;
  width: 60%;
  background-color: black;
  height: 20px;
  margin-bottom: 0px;
}

#temp_display.low-usage{
  background-color: green;
}

#temp_display.medium-usage{
  background-color: black;
}
#temp_display.high-usage{
  background-color: red;
}

.low-usage{
  color: green;
}

.medium-usage{
  color: black;
}
.high-usage{
  color: red;
}
