.boxes {
    position: absolute;
}

.box {
  height: 70px;
  width: 85px;
  border: 1px solid black;
  float: right;
  position: relative;
  float: left;

}

.right-corner {
  text-align: center;
  height: 50%;
  width: 47%;
  border: 1px solid black;
  float: right;
}

.left-corner {
  text-align: center;
  height: 50%;
  width: 47%;
  float: left;
}

.bottom-half {
  text-align: center;
  width: 100%;
  height: 45%;
  float: left;
}

.final-frame-corner {
  width: 45%;
  height: 100%;
  border: 1px solid black;
  float: left;
}
