@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url(../images/bowling.jpeg);
  background-size: 100%;
  font-weight: bolder;
  text-align: center;
}

header {
  font-size: 100px;
  color: #6600CC;
}

table {
  background-color: white;
  font-size: 20px;
}

form {
  background-color: black;
  color: white;
  font-size: 20px;
}