html, body {
  margin: 0px;
  height:100%;
  background-color: #ddd;
  font-size: 100%;
}

main {
  width: 100%;
  height: 90%;
  background-image: url(../images/background.jpg);
  background-size: cover;
}

button:focus {
  outline: none;
}

#header {
  height: 50px;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  padding: 20px;
}

#header > h1 {
  color: #f0f0f0;
  font-size: 3em;
  font-family: Caslon, Georgia, Times, serif;
}

#scoreCard {
  margin: 10px;
}

#scoreCard > li {
  list-style-type: none;
  float: left;
  background: #f0f0f0; 
  border-bottom: 1px #444 solid;
  border-right: 1px #444 solid;
  width: 80px;
  height: 80px;
}

.frameNumber {
  border-bottom: 2px solid #444; 
  text-align: center;
  border-bottom
}

.roll1 {
  position: relative;
  float: right;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  height: 25px;
  font-weight: bold;
  width: 30px;
}

.roll2 {
  position: relative;
  float: right;
  border-left: 1px solid black;
  height: 26px;
  font-weight: bold;
  width: 30px;
}

.frameScore {
  position: relative;
  float: left;
  font-size: 1.5em;
  height: 62px;
  width: 49px;
}


.roll1, .roll2, .frameScore  > p {
  text-align: center;
  padding-top: 5px;
}

.frameScore > p {
  padding-top: 20px;
}

.btn {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  background-color: #428bca;
  border-color: #357ebd;
  color: #f0f0f0;
}

.btn:hover, .btn:focus {
  color: #f0f0f0;
  background-color: #3276b1;
  border-color: #285e8e;
}

#thermostat {
  position: relative;
  top: 50px;
  left: 100px;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  opacity: 0.6;
  padding: 20px;
  background-color: #ddd;
  margin-right:20px;
}

#showTemperature {
  position: relative;
  float: left;
  font-weight: bold;
  width: 150px;
  margin: 5px;
  font-family: 'Poiret One', cursive;
  font-size: 100px; 
}

#degrees {
  float: left;
  top: 25px;
  font-family: 'Poiret One', cursive;
  font-size: 55px;
  position: relative;
  margin: 0;
  font-weight: bold;
  width: 50px;
  height: 50px;
}

#up {
  float: left;
  margin-left: 20px;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  padding: 20px;
  font-size: 100px;
  font-family: 'Poiret One', cursive;
  line-height: 5px;
}

#down {
  float: left;
  margin-left: 10px;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  font-size: 100px;
  font-family: 'Poiret One', cursive;
  line-height: 5px;
}

#openWeatherData {

}

.onoffswitch * {
  line-height: none;
}

.onoffswitch {
  position: relative; width: 90px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}

.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #199932; color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #E04848; color: #1F1010;
  text-align: right;
}

.onoffswitch-switch {
  display: block; width: 18px; margin: 6px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 56px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}

/* Footer
 * ---------------------------------------------------------------------------*/
  footer {
    height: 5%;
    min-height: 40px;
    background-color: rgba(248, 248, 248, 1);
    padding-top: 4px;
    padding-bottom: 4px;
    border-width: 1px;
    border-top: 1px solid black;
  }

  footer > p {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
  }

  footer > a {
    color: black;
  }
