/* Adapted from https://github.com/andygout/bowling-scoresheet/blob/master/public/css/style.css */

table.scoresheet { margin:auto; width:80%; font-size:12px; border:1px solid; text-align: center; table-layout: fixed; }
table.scoresheet th, tr, td { padding: 0; text-align: center; vertical-align: middle; font-weight: bold; }
table.scoresheet th { border-bottom:1px solid; background-color:#4CAF50; height:30px; }
table.scoresheet th:not(:last-child) { border-right:1px solid; }
table.scoresheet td { height:30px; background: #555; }
table.scoresheet tr td:not(:last-child) { border-right:1px solid; }
table.scoresheet tr:nth-child(2) td:nth-child(even) { border-bottom:1px solid; }
table.scoresheet tr:nth-child(2) td:last-child { border-bottom:1px solid; }
