section {
  font-family: 'Bungee inline';

}

.center {
  background-color: #fff;
   background-color: rgba(255,255,255,0.5);
   padding: 20px;
   margin: 40px;


}
body {
  /* background-image: url("../images/bowling-road-universe-background-sport-50454.jpg"); */
  background-image: url("../images/Game-Sport-Bowling-Ball-2585600.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-color: 

}

span {
  font-size: 20px;
}

#scorecard_heading {
  font-size: 40px;
}

table.scorecard {margin: 0 auto; width:80%; font-size:12px; border:1px solid; text-align: center; table-layout: fixed; margin-bottom: 40px;}
table.scorecard th, tr, td {padding: 0; vertical-align: middle; text-align: center;}
table.scorecard th {border-bottom:1px solid; background-color:rgb(102, 15, 8); height:30px; color: #fff}
table.scorecard th:not(:last-child) {border-right:1px solid;}
table.scorecard td {height:30px; background: rgba(255, 255, 255, 0.5);}
table.scorecard tr td:not(:last-child) {border-right:1px solid;}
table.scorecard tr:nth-child(2) td:nth-child(even) {border-bottom:1px solid;}
table.scorecard tr:nth-child(2) td:last-child {border-bottom:1px solid;}

.frame_selected  {
  background-color: rgb(73, 48, 78) !important;
}
.scorebuttons {
  font-family: 'Bungee inline';
  cursor: pointer;
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
}

.scorebuttons:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

.scorebuttons:disabled,
.scorebuttons[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
