.page {
  font-family: futura-pt, Futura, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

body {

}

#container {
  margin: auto;
  width: 700px;
  height: 500px;
  position: relative;
  background-color: blue;
}

#main {
  text-align: center;
}

#scorecard {
  width: 800px;
  height: 250px;
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0 auto;
  position: relative;
}

#display_name {
  text-align: right;
  font-size: 40px;
  float: left;
  padding-top: 100px;
}

.player {
  text-align: left;
  font-size: 25px;
}
