* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1000px;
  margin: 0 auto;
  background-color: black;
}

h1, h2 {
  color: white;
}

.rounds, .round-numbers, .buttons {
  display: flex;
  justify-content: center;
  /*background-color: #5995DA;  /* Blue */*/
}

.rounds, .round-numbers {
  padding-bottom: 20px;
}

.header {
  margin: 30px 0px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  border: 2px solid white;
  border-radius: 50px;
  background-color: blue;
}

.round-number {
  width: 75px;
  color: white;
  padding: 20px 20px;
  margin: 0px 1px;
}
.single-round {
  border: 2px solid black;
  border-radius: 5px;
  width: 75px;
  height: 90px;
  display: flex;
  justify-content: center;
  background-color: green;
  padding: 20px 20px;
  margin: 0px 1px;
}

.button {
  padding: 20px 20px;
  margin: 0px 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.menu {
  border: 1px solid #fff;  /* For debugging */
  width: 900px;
}
