
<h1>Welcome to the bowling alley!</h1>
<h2>Submit your name to start the game: <h2>
<form action="/game" method="post">
<input type="name" name="name" placeholder="your name here" required>
<input type="submit" value="Start the game">
</form>