<table class='table table-bordered table-responsive table-hover'><thead><tr>
  <th>Frame</th><th>Score1</th><th>Score2</th><th>Bonus</th><th>Total</th></tr></thead>
  <tbody class="frames">
   </tbody>
 </table>
