<div id="frame" class="column ui two column celled center aligned grey grid">
  <div class="row">
    <div class="column ball" id="ball1">
    </div>
    <div class="column ball" id="ball2">
    </div>
  </div>
  <div class="row">
    <div class="column" id="score">
    </div>
  </div>
</div>
