<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/bowling-style.css" type="text/css">
<link rel='stylesheet' href='/stylesheets/style.css' type="text/css">
<script src="javascripts/jquery-3.2.1.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/frame.js"></script>
<script src="javascripts/bowlingScorecard.js"></script>
<script src="javascripts/display.js"></script>
<script src="javascripts/interface.js"></script>
<title>Bowling Scorecard</title>
