<div role="group" aria-label="...">
  <button type="button" class="btn-lg btn-default score score0">0</button>
  <button type="button" class="btn-lg btn-default score score1">1</button>
  <button type="button" class="btn-lg btn-default score score2">2</button>
  <button type="button" class="btn-lg btn-default score score3">3</button>
  <button type="button" class="btn-lg btn-default score score4">4</button>
  <button type="button" class="btn-lg btn-default score score5">5</button>
  <button type="button" class="btn-lg btn-default score score6">6</button>
  <button type="button" class="btn-lg btn-default score score7">7</button>
  <button type="button" class="btn-lg btn-default score score8">8</button>
  <button type="button" class="btn-lg btn-default score score9">9</button>
  <button type="button" class="btn-lg btn-default score score10">10</button>
</div>
<hr />
