<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Your Bowling ScoreCard</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <div class="frame-box">
      <div class="frame-box-header">
        <roll_1 class="roll">10</roll_1>
      </div>
      <div>
        <roll_2 class="roll">X</roll_2>
      </div>
      <div class="frame-box-body">
        <h2>20</h2>
      </div>
    </div>
  </body>
</html>