<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Your Bowling ScoreCard</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <text id="title">Welcome to my Pirate Bowling ScoreCard App <span style="font-size:xx-small">(Thematic claims may depend on CSS implementation.)</span></text>
    <br>
    <h2>Click on the button below to start a game.</h2>
    <br>
    <form action="start_game" method="post">
      <button type="submit">Here!</button>
    </form>
  </body>
</html>