language: node_js
node_js:
  - 7

script: node_modules/karma/bin/karma start my.config.js --single-run

before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

before_script:
  - npm install
