body {
  background-color:#282828;
  color: #00FF00;
  font-family: 'VT323', monospace;
  font-size: 55px;
}

.scorecard-container {
  margin: 30px;
}

.input-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.input-button {
  background: none;
	color: inherit;
  padding: 0;
  width: 6vw;
  height: 6vw;
  margin: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  font-size: 70px;
}

.input-button__enabled {
  border: 4px solid #00FF00;
}

.input-button__enabled:hover {
  box-shadow: 0 0 5px 2px #00a700, 0 0 5px 2px #00a700 inset;
  text-shadow: 0 0 5px #00a700;
}

.input-button__disabled {
  color: #009900;
  border: 4px solid #009900;
  box-shadow: none;
}

.scores {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid #00FF00;
  border-width: 4px 0px 4px 4px;
  width: 100%;
  text-align: center;
}

.frame {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid #00FF00;
  border-width: 0 4px 0 0;
}

.frame-scores {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.frame-total {
  height: 100px;
  line-height: 100px;
}

.frame-score-1 {
  height: 100px;
  width: 100%;
  line-height: 100px;
}

.frame-score-2 {
  height: 100px;
  width: 100%;
  line-height: 100px;
  border: solid #00FF00;
  border-width: 0 0 4px 4px;
}

#game-total {
  line-height: 200px;
}