
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
header, footer, nav, article, aside, ul, li, table {
    /* HTML5 asigns blocks to all elements*/
    display: block;
    }
h1 {
    font-size: 55px;
}
body {
    background-image: url("images/bowlingPinBackground.jpeg");
    color: #201e1e;
    font-family: Roboto, sans-serif;
    font-size: 14px; /*1em*/
}
.firstPage {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    min-height: 600px;
    width: 100%;
    height: 100%;
    /* lt ie8 */
    -ms-background-position-x: center;
    -ms-background-position-y: bottom;
    background-position: center bottom;
    /* scale bg image proportionately */
    background-size: cover;
    /* ie8 workaround - http://louisremi.github.io/background-size-polyfill/ */
    -ms-behavior: url(/backgroundsize.min.htc);
    /* prevent scaling past src width (or not) */
    /* max-width: 1200px; */
}
.currentTemp, .minTemperature, .maxTemperature, .powerSaveMode{
    color: white;
    /*opacity: 1;*/
    font-family: Roboto, sans-serif;
    font-size: 55px;
    text-align: center;
    padding: 100px 20px 0px 10px;
}
.currentTempDes {
    color: white;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-size: 25px;
    padding: 20px 20px 0px 20px;
}
.iconBoxes {
    width: 80%;
    margin: 0 auto; /*centre*/
    padding-top:50px;
    height: auto;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    color: antiquewhite;
}

.boxText {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    color: darkred;
}

.button {
background-color: black;
display: inline-block;
border-radius: 50%;
border: none;
color: white;
text-align: center;
font-size: 40px;
width: 50px;
height: 50px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button span {
padding-right: 25px;
}

.button:hover span:after {
opacity: 1;
right: 0;
}

table {
    background-color: antiquewhite;
    width:1000px;
}

tr{
    background-color: gainsboro;
    border-top: 10px;
    border-bottom: 10px;
    padding-left: 40px;
    padding-left: 40px;
    margin-left: 50px;
}
th{
    height: 8px;
    width: 50px;
    color: rgb(14, 13, 13);
    text-align: center;
    font-size: 30px;
    margin-left: 50px;    
}
td{
    height: 40px;
    width: 50px;
    color: rgb(14, 13, 13);
    text-align: center;
    font-size: 25px;
    margin-left: 50px;    
}
#role21{
    background-color: rgb(134, 133, 133);   
}
