@font-face {
src: url(fonts/MISTV___.TTF); 
font-family: custom-font;  
}

.mbody{
max-width: 80%;
max-height: 80%;
position: absolute; top: 0;
z-index: -1;
}

.titleStyle {  
font-family: custom-font;
font-size: 50px;
max-width: 800px;
max-height: 200px;
position: absolute; left: 10%;
}