body {
  margin-left: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
}

td, th {
  width: 100px;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}