.container-fluid {
  padding-top: 3em;
  background-color: #bba077;
  height: 50.0em;
  align-content: center;
}

.play-buttons {
  padding: 20px 20px 20px 20px;
  background-color: #61976d;
  border-radius: 8px;
}

.btn.btn-primary {
    color: white;
    font-size: 2em;
    background-color: #b2c062;
    border-color: #b2c062;
}

.btn.btn-primary:hover {
    color: white;
    background-color: #a07c7c;
    border-color: #a07c7c;
}

.table-responsive {
  text-align: center;
}

#total {
  padding-top: 0.2em;
  color: white;
}

#game-over {
  padding-top: 0.4em;
  color: white;
}

#game-type {
  padding-top: 0.4em;
  color: white;
}

#total-points {
  color: white;
  font-size: 20px;
  font-weight: normal;
}

button {
  width: 10em;
  height: 3em;
}

th {
  text-align: center;
  }
