body {
    background-color: rgba(159, 147, 224, 0.877);
    color: rgb(38, 53, 53);
    font-size: 1.0em;
}

button {
    color: DodgerBlue;
    height: 50px;
    width: 50px;
    font-size : 20px;
    border-radius: 50%;
}

p {
    text-align:center;
}

header {
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    font-weight: 900;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
} 