body {
  font-family: 'Reenie Beanie', cursive;
  font-size:  40px;
  background-color: rgb(248,248,236);
}

p {
  margin: 3px;
}

#frame-stats {
  position: relative;
  top: 0px;
  text-align: center;
}

#game-stats {
  position: absolute;
  top: 0px;
  text-align: left;
}


#game-over {
  text-align: center;
}


#pins {
  display: block;
  margin: auto;
  width: 500px;
  height:500px;
}

#controls {
  position: relative;
  text-align: center;
}


#ball {
  width:100px;
  height:100px;
  position: absolute;
  margin-left: 400px;
  margin-bottom: 200px;

}
