body{
  /* background: url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,700') */
  background-image: url("http://actrightelectrical.com.au/wp-content/uploads/2018/04/bowling-sunshine-coast.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}

h2,h3,p{
  color: black;
  text-align: center;
  margin:5px;
  animation-name: text;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

table{

}

button{
  outline:none;
  height: 30px;
  text-align: center;
  display: inline-block;
  width: auto;
  border-radius:10px;
  background: #cc0000;
  border: 1px solid white;
  color: white;
  letter-spacing:1px;
  text-shadow:0;
  transition-duration: 0.2s;
}
button:hover{
  background-color: white;
  border: 1px solid #cc0000;
  color: #cc0000;
}

.container{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  width: 70%;
  margin: auto;
  /* animation-name: trial; */
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* @keyframes trial {
  from {background-color: rgba(255, 255, 255, 0.5);}
  to {background-color: rgba(0, 0, 0, 0.5);}
} */

@keyframes text {
  0% {color: black;}
  50% {color: #cc0000;}
  100% {color: #006699}
}

table.scorecard {margin: auto; width:80%; font-size:12px; border:1px solid; text-align: center; table-layout: fixed; margin-bottom: 40px;}
table.scorecard th, tr, td {padding: 0; vertical-align: middle; font-family: Arial, Helvetica, sans-serif; text-align: center;}
table.scorecard th {border-bottom:1px solid; background-color:#d3313a; height:30px; color: #fff}
table.scorecard th:not(:last-child) {border-right:1px solid;}
table.scorecard td {height:30px; background: rgba(255, 255, 255, 0.5);}
table.scorecard tr td:not(:last-child) {border-right:1px solid;}
table.scorecard tr:nth-child(2) td:nth-child(even) {border-bottom:1px solid;}
table.scorecard tr:nth-child(2) td:last-child {border-bottom:1px solid;}
