body {
  background-image: url("http://wallpaper.pickywallpapers.com/1920x1080/death-star-bowling.jpg");
  background-size: cover;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13pt;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Arial Black";
  font-size: 45pt;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FFFF66;
}

table {
  position: absolute;
  right: 25%;
  top: 20%;
  font-weight: 100;
}

td {
  text-align: center;
}

section {
  position: absolute;
  left: 15%;
  top: 18%;
  font-weight: bold;
}

button {
  background-color: transparent;
  color: #FFFF66;
  width: 35px;
  height: 35px;
  border: solid #FFFF66 1px;
  border-radius: 15%;
  margin-right: 5px;
  font-size: 10pt;
}

button:hover {
  background-color: black;
  cursor: pointer;
}
