body {
  text-align: center;
}

h1 {
  font-family: 'Poiret One', courier, cursive;
  font-size: 80px;
  color: rgb(223, 59, 54);
  text-align: center;
  margin-bottom: 0;
  margin-top: 0
}

.pin-selection {
  padding: 10px;
  text-align: center;
}

.pin-row-one, .pin-row-two, .pin-row-three, .pin-row-four {
  padding: 5px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.pin {
  background:url(./images/pin.png);
  background-size: cover;
  height: 81px;
  width: 27px;
  outline: none;
  margin: 10px;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 15px;
  font-family: 'Poiret One', courier, cursive;
  font-size: 16px;
  border: none
}

.pin:active {
  transform: translateY(5px);
}

.reset, .gutter {
  font-family: 'Poiret One', courier, cursive;
  border-radius: 32px;
  width: 70px;
  height: 30px;
  background-color: rgb(204, 26, 23);
  color: white;
  border: none;
  outline: none;
  margin-top: 15px;
  font-size: 18px
}

.gutter {
  background:url(./images/bowlingBall.png);
  background-size: cover;
  height: 70px;
  width: 70px;
}

.gutter:hover {
  border: 1px solid rgb(223, 59, 54);
}


.reset:hover {
  background-color: white;
  color: rgb(223, 59, 54);
  border: 1px solid rgb(223, 59, 54);
  transition: 0.3s;
}

.reset:active, .gutter:active {
  transform: translateY(2px);
}

.score, #score {
  width: 50px
} 

table, th, td {
  font-family: 'Raleway', courier, cursive;
  border: 1px solid rgb(223, 59, 54);
  padding: 5px;
  width: 80px;
  margin: 0 auto;
  border-radius: 20px
}

table {
  width: 900px;
  table-layout: fixed;
  font-size: 14px;
}

td.frame-empty {
  border: none
}

div#bowling-lane {
  background:url(./images/bowlingLane.png);
  background-size: cover;
  margin: auto;
  margin-bottom: 10px;
  width: 350px;
  border-radius: 32px
}