:root {
  --background_url: url("images/10.jpg");
  --background_overlay_url: url("images/10.jpg");
 

}


html {

  height: 100%;
  background-image: var(--background_overlay_url), var(--background_url);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  

}

body {

  height: 100%;

}

#bowl {

  position: absolute;
  top: 650px;
  left: 685px;

}



table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 25%;
  empty-cells: show;
  background-color: lightblue;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}




h1 {

}

h2 {

}








