h1 {
  text-align: center;
  font-size: 60px;
}

.rolls {
  text-align: center;
}

.rolls button{
  margin: 5px;
  height: 45px;
  width: 45px;
  font-weight: bold;
  border-radius: 50%;
  border: 2px solid;
  background-color: #2bce88;
}

.scoresheet {
  font-size: 20px;
  width: 80%;
  border: 2px solid;
  border-collapse: collapse;
  text-align: center;
  margin: 10px auto;
  table-layout: fixed;
}

.scoresheet th, tr, td {
  vertical-align: middle;
  font-weight: bold;
  padding: 5px;
  border-right: 2px solid;
}

.scoresheet th {
  border-bottom: 3px solid;
  background-color: grey;

}

.scoresheet td {
  border-bottom: 2px solid;
    height: 30px;
}

.scoresheet .pins-down td:nth-child(odd) {
  border-bottom: none;
}

.scoresheet .pins-down td:nth-child(even) {
  background-color: #2bce88;
}

.scoresheet .pins-down td:last-child {
  background-color: #2bce88;
  border-bottom: 2px solid;
}
