body {
  font-family: arial;
  text-align: center;
}
h1 {
  padding: 30px;
}
table {
  margin-left: auto;
  margin-right: auto;
}
table, th, td {
  border: 1px solid lightgrey;
  border-collapse: collapse;
  padding: 5px;
}
th, td {
  width: 60px;
  height: 40px;
}
div {
  padding: 10px;
}
p {
  margin: 30px;
}
button {
  width: 35px;
  height: 35px;
  font-weight: bold;
  margin: 10px;
}
