p {
	color: red;
	float: left;
}

#box {
	position: absolute;
	margin-top: 50px;
	border-style: double;
}

#points {
/* position: absolute;
 margin-top: 200px;*/
}

#throw {
	position: absolute;
	margin-left: 800px;
}
