<!DOCTYPE html>
<head>
  <link rel = "stylesheet" href = "css/style1.css">
  <link rel = "stylesheet" href = "css/style2.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src='src/game.js'></script>
  <script src='src/interface.js'></script>
</head>
<body>
<noscript><p>This app requires javascript.</p></noscript>

<form>
<p style = "text-align: center; font-family: Coiny;"><font size="7" style = "font-weight: bold;">Ten Pin Bowling Score Sheet</font></p>
  <div id="bowling-calc-score-container">
    <table class="bowling-calc-score-table">
      <tr>
        <td class="first score">
          <div><input type="text" id="edit-frame1-1" readonly/></div>
        </td>
        <td class="second score">
          <div><input type="text" id="edit-frame1-2" readonly/></div>
        </td>
        <td class="first score">
          <div><input type="text" id="edit-frame2-1" readonly/></div>
        </td>
        <td class="second score">
          <div><input type="text" id="edit-frame2-2" readonly/></div>
        </td>
        <td class="first score">
          <div><input type="text" id="edit-frame3-1" readonly/></div>
        </td>
        <td class="second score">
          <div><input type="text" id="edit-frame3-2" readonly/></div>
        </td>
        <td class="first score">
          <div><input type="text" id="edit-frame4-1" readonly/></div>
        </td>
        <td class="second score">
          <div><input type="text" id="edit-frame4-2" readonly/></div>
        </td>
        <td class="first score">
          <div><input type="text" id="edit-frame5-1" readonly/></div>
        </td>
        <td class="second score">
          <div><input type="text" id="edit-frame5-2" readonly/></div>
        </td>
        <td class="first score">
          <div><input type="text" id="edit-frame6-1" readonly/></div>
        </td>
        <td class="second score">
          <div><input type="text" id="edit-frame6-2" readonly/></div>
        </td>
        <td class="first score">
          <div><input type="text" id="edit-frame7-1" readonly/></div>
        </td>
        <td class="second score">
          <div><input type="text" id="edit-frame7-2" readonly/></div>
        </td>
        <td class="first score">
          <div><input type="text" id="edit-frame8-1" readonly/></div>
        </td>
        <td class="second score">
          <div><input type="text" id="edit-frame8-2" readonly/></div>
        </td>
        <td class="first score">
          <div><input type="text" id="edit-frame9-1" readonly/></div>
        </td>
        <td class="second score">
          <div><input type="text" id="edit-frame9-2" readonly/></div>
        </td>
        <td class="first score">
          <div><input type="text" id="edit-frame10-1" readonly/></div>
        </td>
        <td class="second score">
          <div><input type="text" id="edit-frame10-2" readonly/></div>
        </td>
        <td class="third score">
          <div><input type="text" id="edit-frame10-3" readonly/></div>
        </td>
        <td rowspan="2" class="game-result">
          <div><input type="text" id="edit-game-result" readonly/></div>
        </td>
      </tr>
      <tr>
        <td class="frame score" colspan="2">
          <div><input type="text" id="edit-frame1-res" readonly/></div>
        </td>
        <td class="frame score" colspan="2">
          <div><input type="text" id="edit-frame2-res" readonly/></div>
        </td>
        <td class="frame score" colspan="2">
          <div><input type="text" id="edit-frame3-res" readonly/></div>
        </td>
        <td class="frame score" colspan="2">
          <div><input type="text" id="edit-frame4-res" readonly/></div>
        </td>
        <td class="frame score" colspan="2">
          <div><input type="text" id="edit-frame5-res" readonly/></div>
        </td>
        <td class="frame score" colspan="2">
          <div><input type="text" id="edit-frame6-res" readonly/></div>
        </td>
        <td class="frame score" colspan="2">
          <div><input type="text" id="edit-frame7-res" readonly/></div>
        </td>
        <td class="frame score" colspan="2">
          <div><input type="text" id="edit-frame8-res" readonly/></div>
        </td>
        <td class="frame score" colspan="2">
          <div><input type="text" id="edit-frame9-res" readonly/></div>
        </td>
        <td class="frame score" colspan="3">
          <div><input type="text" id="edit-frame10-res" readonly/></div>
        </td>
      </tr>
    </table>
  </div>

  <div>
    <table class="buttons-table" style="border-collapse: separate;">
      <tr>
        <td><input type="button" name="0" value="0" /></td>
        <td><input type="button" name="1" value="1" /></td>
        <td><input type="button" name="2" value="2" /></td>
        <td><input type="button" name="3" value=3 /></td>
        <td><input type="button" name="4" value="4" /></td>
        <td><input type="button" name="5" value="5" /></td>
      </tr>
      <tr>
        <td><input type="button" name="6" value="6" /></td>
        <td><input type="button" name="7" value="7" /></td>
        <td><input type="button" name="8" value="8" /></td>
        <td><input type="button" name="9" value="9" /></td>
        <td><input type="button" name="10" value="X" /></td>
        <td><input type="button" name="xxx" id="var1-9" value="/" /></td>
      </tr>
      <tr>
        <td colspan=10><input type="button" name="b-new" value="New game" /></td>
      </tr>
    </table>
  </div>
</form>
</body>
</html>
