body {
  background: url("../images/bowling-background.png");
  background-repeat: no-repeat;
  background-size: 106%;
  background-color: #b2cecf;
  font-family: helvetica;
  font-weight: bold;
}

h1 {
  text-align: center;
}

table {
  width: 90%;
  height: 200px;
  font-size: 40px;
  background-color: white;
  empty-cells: show;
}

table, th, td {
  text-align: right;
  border: 2px solid black;
  border-collapse: collapse;
  padding: 1.2%;
}

h2 {
  text-align: left;
}
