* {
  margin: 0 auto;
  padding: 0;
  font-family: arial, sans-serif;
}

html {
  overflow-y: scroll;
  text-align: center;
  background-image: url("http://thebowlingtechnique.com/wp-content/uploads/2014/06/Bowling-Lanes.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-family: 'Brush Script MT', cursive;
  color: red;
  font-size: 100px;
}

.title {
  background: rgba(255, 255, 255, 0.5);
  border: 4px solid #949494;
  border-radius: 20px;
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 700px;
}

.buttons {
  height: 50px;
  margin-bottom: 20px;
  width: 686px;
  text-align: left;
}

.button {
  -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
  -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
  background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
  background-color:#c62d1f;
  -moz-border-radius:18px;
  -webkit-border-radius:18px;
  border-radius:18px;
  border:1px solid #d02718;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:7px 25px;
  text-decoration:none;
  text-shadow:0px 1px 0px #810e05;
}
.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
  background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
  background-color:#f24437;
}
.button:active {
  position:relative;
  top:1px;
}

table.scoresheet {width:80%; font-size:12px; border:1px solid; text-align: center; table-layout: fixed; margin-bottom: 40px;}
table.scoresheet th, tr, td {padding: 0;}
table.scoresheet th {border-bottom:1px solid; background-color:red; height:30px;}
table.scoresheet th:not(:last-child) {border-right:1px solid;}
table.scoresheet td {height:30px; background: rgba(255, 255, 255, 0.5);}
table.scoresheet tr td:not(:last-child) {border-right:1px solid;}
table.scoresheet tr:nth-child(2) td:nth-child(even) {border-bottom:1px solid;}
table.scoresheet tr:nth-child(2) td:last-child {border-bottom:1px solid;}

.game_over {
  color: red;
  background: rgba(255, 255, 255, 0.6);
  border: 4px solid #949494;
  border-radius: 20px;
  padding: 15px;
  width: 700px;
}