#total_score {
  border-width: medium;
  border-style: dotted;
}

input {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

table {
    background: lightskyblue;
    color: midnightblue;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

td {
  font-weight: bold;
  font-size: 15px;
}

button {
    background: cyan;
    color: firebrick;
    font-weight: bold;
    height: 30;
    width: 150px;
    margin-left: 10px;
}

body {
    width: 100%;
    margin-left: 100px;
}
