body {
  font-family: sans-serif;
  margin: auto;
  text-align: center;
  position: fixed;
  top: 25%;
  left: 10%;
  right: 10%;
  width: 80%;
}
table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

td {
  height: 4em;
}
