.btn {
  font-family: "Oswald";
  border: none;
  outline: none;
  background-color: inherit;
  /* padding: 14px 28px; */
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
}

h1 {
  font-family: "Oswald";
}
h3 {
  font-family: "Oswald";
}

.box {
  background-color: coral;
  width: 1500px;
  height: 500px;
  border: 5px solid purple;
  /* padding: 40px; */
  margin: 15px;
}

body {
  background-color: lightblue;
}

li {
  list-style-type: none; /*Removes bullet points*/
  float: left; /*Moves div to next row if the window is too narrow*/
  background: red;
  border: 2px #000 solid; /*For demo*/
}
