<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <link rel='stylesheet' type='text/css' href='../css/styles.css' >
  <title>Bowling</title>
</head>
<body>

  <header>
    <h1>Bowling</h1>
  </header>
  <div id='container'>
    
  </div>
  <footer>
    <p>&copy; <a href='https://github.com/EdAncerys'>Ed Ancerys</a></p>
  </footer>

  <script src="../src/bowling.js"></script>
  <script src="../src/interface.js"></script>
</body>
</html>