<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="../jquery/jquery.js"></script>
  <script src="../jquery/interface.js"></script>
  <link rel="stylesheet" href="../public/reset.css" />
  <link rel="stylesheet" href="../public/css/style.css" />
  <script src="../src/bowling.js"></script>
  <meta charset="utf-8">
  <title>Bowling Score Sheet</title>

</head>

<body>
  <div class="container">
    <div class="col-md-8"></div>
    <div class="thermostat" id="screen" >



      <div class="temperature">
        20 °C
      </div>
      <br><br>
      <div class="usage">
        medium-usage
      </div>

      <div class="power_saving">
        Power Saving mode ON
      </div>
      <br><br>

      <div class="changes">
        <div class="col-md-4" class="temp_change">

          <div class="up">
            <button type="button" value="up" class="btn btn-primary">UP</button>
          </div>
          <br><br>
          <div class="down">
            <button type="button" value="down" class="btn btn-primary">DOWN</button>
          </div>

        </div>

        <div class="col-md-8" class="buttons">

          <div class="eco">
            <button type="button" name="eco" class="btn btn-primary">eco</button>
          </div>
          <br>
          <div class="reset">
            <button type="button" name="reset" class="btn btn-primary">reset</button>
          </div>
          <br>
          <div class="power">
            <form action="http://www.bbc.co.uk/weather/" >
              <button type="submit" name="power" class="btn btn-primary">POWER</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <h1>Check the weather near you:</h1> <br>
    <div class="col-md-4"></div>

    <p class="weather_forcast"></p>
    <select id="weather">
      <option value="London">London</option>
      <option value="Manchester">Manchester</option>
      <option value="Brighton">Brighton</option>
    </select>
  </form>
  <div class="weatherLondon">
    <p class="weatherforcast"></p>
    <button type="button" name="weather_london"></button>
  </div>

  <form class="posttemperature">
    <input type ="text"  action="/temperature" method="post">

  </form>
</div>


</body>
</html>

<!-- img src="http://s18.postimg.org/nwgb93zc9/down.png" -->
<!-- src="http://image.flaticon.com/icons/svg/56/56690.svg" -->
