<!DOCTYPE html>
<html>
  <head>
    <title>Bowling Mania</title>
    <meta
      name="description"
      content="This Bowling website allows the user to score a game of bowling from beginning to end"
    />
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow" />
    <link rel="icon" href="../img/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <script src=""></script>
  </body>
</html>
