<!DOCTYPE HTML>
<HTML>
<head>
  <title>Pub Name Generator</title>
  <link rel="stylesheet" type="text/css" href="/styles/app.css">
  <script type="text/javascript" src="/javascripts/lists.js"></script>
  <script type="text/javascript" src="/javascripts/formula.js"></script>
  <script type="text/javascript" src="/javascripts/pluralize.js"></script>
  <script type="text/javascript" src="/javascripts/formula.js"></script>
  <script type="text/javascript" src="/javascripts/pubNamer.js"></script>
</head>
<body>
  <%= content %>
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/app.js"></script>
</body>
</html>
