input.score-input {
  width: 25px;
  height: 25px;
  padding: 5px;
  text-align: center;

}
/* input.score-input2 {
  width: 40px;
  height: 25px;
  top: 0px;
  left: 2px;
  padding: 5px;
  text-align: center;
  position: relative;
} */
div.frame-score {
  width: 66px;
  height: 25px;
  padding: 5px;
  text-align: center;
  border-style: solid;
  border-color: black;
  display: inline-block;
  vertical-align: middle;
}
div.frame-score10 {
  width: 109px;
  height: 25px;
  padding: 5px;
  text-align: center;
  border-style: solid;
  border-color: black;
  display: inline-block;
  vertical-align: middle;
}

div.frame {

}

.score-inputs {
  display: inline-block;
  vertical-align: middle;
}

.score-inputs {
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
