<html>
<head>
</head>
<body>
  <div id='msg'>
    <h1><%=msg%><h1>
  </div>
  <div id = 'main'>
    <form action='/bowling/startNew/' method='post'>
      <button class='button' action='submit'>Start new game</button>
    </form>
  </div>
</body>
</html>
