<html>
<head>
</head>
<body>
  <script src ='frame.js'></script>
  <script src ='game.js'></script>
  <script>
  // === helpers === //
  var game
  function startGame(){
    var game = new Game (Frame);
    document.getElementById("msg").innerHTML = 'Game on!';
    document.getElementById("score").innerHTML = 'Total Score: ' + game.score();
    document.getElementById("score").style.display = 'block';
    return game;
  }
  </script>
  <h1 id='msg'>Welcome to Bowling!<h1>
  <div id = 'main'>
    <button onclick="game = startGame()">Start new game</button>
  </div>
  <h1 id=score style="display:none">Total Score: Not Started</h1>
</body>
</html>
