<html>
<head>
  <script type = "application/javascript" src="public/frame.js"></script>
  <script type = "application/javascript" src="public/game.js"></script>
</head>
<body>
  <div id='msg'>
    <h1>Welcome to Bowling!<h1>
  </div>
  <div id = 'main'>
    <script>
    </script>
    <button onclick= "startGame()">Start new game</button>
  </div>
</body>
</html>
