<html>
<head>
</head>
<body>
  <script src='frame.js'></script>
  <script src='game.js'></script>
  <script src='interface.js'></script>
  <h1 id='msg'>Welcome to Bowling!<h1>
  <button onclick="game = startGame()">Start new game</button>
  <br>
  <select id="rollSelect" style="display:none"></select>
  <span>
    <button id="rollButton"  style="display:none" onclick="game = addRoll(game)">
      Add roll
    </button>
  </span>
  <h1 id=score style="display:none">Total Score: Not Started</h1>
  <ul id="frameDisplay">
  </ul>
</body>
</html>
