<!DOCTYPE html>
<html>

<head>
    <title>Bowling game!</title>
</head>

<body>
    <script src="jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="../style.css">
    <h1 align="center"> Bowling game! </h1>
<section>
    <h4 align="center"> Last ball was <span id="lastball"></span></h4>
    <h4 align="center"> Current frame is: <span id="currentframe"> </span> </h4>
    <h4 align="center"> <span id="currentscore"> </span> </h4>
    <h4 align="center"> Frames: <span id="frames"> </span> </h4>
    <p align="center">
        <button id="gutter">Gutter ball</button>
        <button id="1">1</button>
        <button id="2">2</button>
        <button id="3">3</button>
        <button id="4">4</button>
        <button id="5">5</button>
        <button id="6">6</button>
        <button id="7">7</button>
        <button id="8">8</button>
        <button id="9">9</button>
        <button id="strike">Strike!</button>

    </p>


</section>
</body>

</html>

<script src="../src/bowlingGame.js"></script>
<script src="../style.css"></script>
