<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bowling Score Card - Done</title> 
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js'></script>
</head>
<body>
    <p>Game Over</p>
    Your Final Score: <p id='finaltotal'></p>
    Your Final Score Card: <p id='finalcard'></p>
  <script src="src/Card.js"></script>
  <script src="src/app.js"></script>
</body>
</html>