<html>
<body>

  <h1><%= end %></h1>
  <h1> You finished the game </h1>
  <h1> Play again? </h1>
    
  <form action="/" method="GET">
    <button type="submit">CLICK HERE!</button>
  </form>

</body>
</html>