<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<form action="/play" method="post">
    <button type="submit" name="returnToPlay" value="true">Back to play</button>
</form>
