<!DOCTYPE html>
<html>
<head>
  <title>Bowling Game</title>
</head>
<body>
    <h1>Bowling Game</h1>
    <h2> Your Score: <span id='score'>  </span></h2>
    <h4> Status: </h4>
    <h5> Current Round: <span id='roundnumber'></span>/10 </h5>
    <h5> Current Bowl: <span id='bowlnumber'></span>/<span id='bowltotal'></span></h5>
    <!-- <h5> Previous Bowl Result: <span id='previousbowl'></span></h5> -->

    <button id="bowl"> Bowl </button>
    <script src="./../jquery-3.1.0.min.js"></script>
    <script src="./../src/Roll.js"></script>
    <script src="./../src/Round.js"></script>
    <script src="./../src/Game.js"></script>
    <script src="./../src/Interface.js"></script>
</body>
</html>
