<h1>Game</h1>
<p>Enter your latest score</p>

<form action="/game" method="post">
  <input name="score" type="number" value="score">
</form>

<hr>
<h2>Game total</h2>
<% @scores.each { |frame| %>
<%= frame.id %>
<%= frame.round_number %>
<%= frame.round_score %>
<% } %>