<!DOCTYPE html>
<html>
  <head>
    <link href='../public/style.css' type='text/css' rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../public/js/Game.js"></script>
    <script src="../public/js/ScoreBoard.js"></script>
    <script src="../public/js/Frame.js"></script>
    <script src="../public/js/interface.js"></script>
  </head>

  <body>

    <button class='btn-newGame'>New Game</button>

    <div class='scoreboard'>
      <h1>Bowling Scoreboard</h1>
      <table class='scoreboard-table'></table>
      <button class='btn-startGame'>Start!</button>
    </div>

    <div class='playing'>
      <h2 class='msg-playersTurn'></h2>
      <h3 class='msg-rollNum'>Roll 1:</h3>
      <div class='pinButtons'></div>
    </div>
    <div class='msg-gameOver'></div>
  </body>
</html>
