<% include partials/header %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body align="center">
  <div class="jumbotron jumbotron-custom" style="margin: 1%; background-color: transparent">
    <h1 class="display-3"> <strong><%= title %></strong></h1>
    <p class="lead font-weight-bold" style="font-size: 200%">Welcome!</p>
    <p class="lead lead-shadow" style="font-size: 200%">Made using ExpressJS & Javascript, tested with Mocha, Chai and Zombie.</p>
    <p class="lead-no-shadow">Created by <a href="http://www.github.com/stephengeller/CV" style="color: #cd0a0a">Stephen Geller</a>.</p>

  </div>
    <form action="/start" method="post">
      <button class="btn btn-default" type="submit" name="startGame" value="startGame">Start game</button>
    </form>
  </body>
</html>

<% include partials/footer %>
