<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  
  <section>
    <form>
      <input id="roll1" name="roll1" type="text" placeholder="First bowl"></input>
      <input id="roll2" name="roll2" type="text" placeholder="Second bowl"></input>
      <input type="submit" value="Submit"/>
    </form>
  </section>

  <span id="scorecard"></span>

</body>
</html>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="interface.js"></script>




