<div class="container-fluid">
<h1 class = "neon-pink">Bowling Scorecard</h1>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default score score1">1</button>
  <button type="button" class="btn btn-default score score2">2</button>
  <button type="button" class="btn btn-default score score3">3</button>
  <button type="button" class="btn btn-default score score4">4</button>
  <button type="button" class="btn btn-default score score5">5</button>
  <button type="button" class="btn btn-default score score6">6</button>
  <button type="button" class="btn btn-default score score7">7</button>
  <button type="button" class="btn btn-default score score8">8</button>
  <button type="button" class="btn btn-default score score9">9</button>
  <button type="button" class="btn btn-default score score10">10</button>
</div>
<br>
<span class="display"></span>
<p>See scores below</p>
<span class="scores"></span>
<p class = "frame1">-</p>
<p class = "frame2">-</p>
<p class = "frame3">-</p>
<p class = "frame4">-</p>
<p class = "frame5">-</p>
<p class = "frame6">-</p>
<p class = "frame7">-</p>
<p class = "frame8">-</p>
<p class = "frame9">-</p>
<p class = "frame10">-</p>

<p>Current Score: <span class="current-score">0</span></p>

<button type="button" class="btn btn-default reset">Reset Game</button>

<p>
  <a class="btn btn-default" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Bowling Scoring Rules
  </a>
  <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button> -->
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-block well">
    <h2>Bowling — how does it work?</h2>

    <h3>Strikes</h3>
<p>
    The player has a strike if he knocks down all 10 pins with the first roll in a frame. The frame ends immediately (since there are no pins left for a second roll). The bonus for that frame is the number of pins knocked down by the next two rolls. That would be the next frame, unless the player rolls another strike.
</p>
    <h3>Spares</h3>
<p>
    The player has a spare if the knocks down all 10 pins with the two rolls of a frame. The bonus for that frame is the number of pins knocked down by the next roll (first roll of next frame).
</p>
    <h3>10th frame</h3>
<p>
    If the player rolls a strike or spare in the 10th frame they can roll the additional balls for the bonus. But they can never roll more than 3 balls in the 10th frame. The additional rolls only count for the bonus not for the regular frame count.
</p>
<p>
      10, 10, 10 in the 10th frame gives 30 points (10 points for the regular first strike and 20 points for the bonus).
    1, 9, 10 in the 10th frame gives 20 points (10 points for the regular spare and 10 points for the bonus).
</p>
    <h3>Gutter Game</h3>
<p>
    A Gutter Game is when the player never hits a pin (20 zero scores).
</p>
    <h3>Perfect Game</h3>
<p>
    A Perfect Game is when the player rolls 12 strikes (10 regular strikes and 2 strikes for the bonus in the 10th frame). The Perfect Game scores 300 points.
</p>
  <p>
    More about ten pin bowling here: http://en.wikipedia.org/wiki/Ten-pin_bowling  </div>
</p>
</div>

<footer>
  <a href="https://github.com/ryandav">Created by Ryan Davidson</a><br>
  <a href="#">click here to see repo on Github</a>
</footer>

</div>
