<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="js/Game.js"></script>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
    <script src="js/lib/jquery.js"></script>
    <script src="js/Interface.js"></script>
  </head>
  <body>
      <div class="header">
        <h2> Frame: &nbsp; &nbsp;<span class="frame"></span></h2>
        <h2> Roll: &nbsp; &nbsp;<span class="roll"></span></h2>
        <h2> Pins hit: &nbsp; &nbsp;<span class="hits"></span></h2>
        <h2> Total score: &nbsp; &nbsp;<span class="score"></span></h2>
      </div>
      <div class="intro">
        <h1>:: Click the bowling ball to play! ::</h1>
      </div>
      <div class="pins">
        <div class="first">
          <img id="1" src="https://www.dropbox.com/s/9m24jcco3jzcjev/newpin1.png?raw=1"/>
        </div>
        <div class="front">
          <img id="2" src="https://www.dropbox.com/s/9m24jcco3jzcjev/newpin1.png?raw=1"/>
          <img id="3" src="https://www.dropbox.com/s/9m24jcco3jzcjev/newpin1.png?raw=1"/>
        </div>
        <div class="middle">
          <img id="4" src="https://www.dropbox.com/s/9m24jcco3jzcjev/newpin1.png?raw=1"/>
          <img id="6" src="https://www.dropbox.com/s/9m24jcco3jzcjev/newpin1.png?raw=1"/>
          <img id="5" src="https://www.dropbox.com/s/9m24jcco3jzcjev/newpin1.png?raw=1"/>
        </div>
        <div class="back">
          <img id="7" src="https://www.dropbox.com/s/9m24jcco3jzcjev/newpin1.png?raw=1"/>
          <img id="10" src="https://www.dropbox.com/s/9m24jcco3jzcjev/newpin1.png?raw=1"/>
          <img id="9" src="https://www.dropbox.com/s/9m24jcco3jzcjev/newpin1.png?raw=1"/>
          <img id="8" src="https://www.dropbox.com/s/9m24jcco3jzcjev/newpin1.png?raw=1"/>
        </div>
      </div>
        <img id="strike" src="http://www.clker.com/cliparts/m/s/S/m/s/P/bam-hi.png"/>
        <h1 id="message"></h1>
      <div class="ball">
        <input id="ball" type="image" src="http://gallery.yopriceville.com/var/albums/Free-Clipart-Pictures/Sport-PNG/Black_Bowling_Ball_PNG_Vector_Clipart.png?m=1433658032"/>
      </div>
      <div class="end">
        <h1> GAME OVER </h1>
        <h2> Refresh the page to play again </h2>
      </div>
  </body>
</html>
