<% include header %>

  <h1><%-title %></h1>
  <div>

    <div>
      <h4>Frame One:</h4>
      <label>Roll One</label>
      <input id="frameOneRollOne" type="text" value="0">
      <br>
      <label>Roll Two</label>
      <input id="frameOneRollTwo" type="text" value="0">
    </div>

    <div>
      <h4>Frame Two:</h4>
      <label>Roll One</label>
      <input id="frameTwoRollOne" type="text" value="0">
      <br>
      <label>Roll Two</label>
      <input id="frameTwoRollTwo" type="text" value="0">
    </div>

    <div>
      <h4>Frame Three:</h4>
      <input id="frameThreeRollOne" type="text" value="0">
      <input id="frameThreeRollTwo" type="text" value="0">
    </div>

    <div>
      <h4>Frame Four:</h4>
      <input id="frameFourRollOne" type="text" value="0">
      <input id="frameFourRollTwo" type="text" value="0">
    </div>

    <div>
      <h4>Frame Five:</h4>
      <input id="frameFiveRollOne" type="text" value="0">
      <input id="frameFiveRollTwo" type="text" value="0">
    </div>

    <div>
      <h4>Frame Six:</h4>
      <input id="frameSixRollOne" type="text" value="0">
      <input id="frameSixRollTwo" type="text" value="0">
    </div>

    <div>
      <h4>Frame Seven:</h4>
      <input id="frameSevenRollOne" type="text" value="0">
      <input id="frameSevenRollTwo" type="text" value="0">
    </div>

    <div>
      <h4>Frame Eight:</h4>
      <input id="frameEightRollOne" type="text" value="0">
      <input id="frameEightRollTwo" type="text" value="0">
    </div>

    <div>
      <h4>Frame Nine:</h4>
      <input id="frameNineRollOne" type="text" value="0">
      <input id="frameNineRollTwo" type="text" value="0">
    </div>

    <div>
      <h4>Frame Ten:</h4>
      <input id="frameTenRollOne" type="text" value="0">
      <input id="frameTenRollTwo" type="text" value="0">
    </div>

    <div>
      <h4>Bonus Frame:</h4>
      <input id="frameBonusRollOne" type="text" value="0">
      <input id="frameBonusRollTwo" type="text" value="0">
    </div>

    <div style="margin-top: 25px">
      <button id="calculateButton">Calculate Score!</button>
      <h3>Your score is: <span id="output"></span></h3>
    </div>





  </div>
<script src="/js/jqueryScripts.js"></script>
<% include footer %>
