<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="index.css">
  <script type=”text/javascript” src="bowling.js"></script>
  <script type=”text/javascript” src="jquery-3.4.1.js"></script>
  <script type=”text/javascript” src="interface.js"></script>
</head>

<body>
  <div>
    <center>
      <table class="tableheader">
        <tr>
          <th>Tim's Bowling Scorecard</th>
        </tr>
      </table>
  </div>
  <br>
  <center>
    <div id="new_ball_buttons">
      <button id="new_ball_button_0" class="new_ball_button">0</button>
      <button id="new_ball_button_1" class="new_ball_button">1</button>
      <button id="new_ball_button_2" class="new_ball_button">2</button>
      <button id="new_ball_button_3" class="new_ball_button">3</button>
      <button id="new_ball_button_4" class="new_ball_button">4</button>
      <button id="new_ball_button_5" class="new_ball_button">5</button>
      <button id="new_ball_button_6" class="new_ball_button">6</button>
      <button id="new_ball_button_7" class="new_ball_button">7</button>
      <button id="new_ball_button_8" class="new_ball_button">8</button>
      <button id="new_ball_button_9" class="new_ball_button">9</button>
      <button id="new_ball_button_10" class="new_ball_button">10</button>
    </div>
  </center>
  <center>
    <table id="frame_table" class="score_table">
      <tr id="headers">
        <th>Frame</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Round Score</th>
      </tr>
      <tr>
        <td>1</td>
        <td><span id="frame1_ball1"></span></td>
        <td><span id="frame1_ball2"></span></td>
        <td></td>
        <td><span id="frame1_total"></span></td>
      </tr>
      <tr>
        <td>2</td>
        <td><span id="frame2_ball1"></span></td>
        <td><span id="frame2_ball2"></span></td>
        <td></td>
        <td><span id="frame2_total"></span></td>
      </tr>
      <tr>
        <td>3</td>
        <td><span id="frame3_ball1"></span></td>
        <td><span id="frame3_ball2"></span></td>
        <td></td>
        <td><span id="frame3_total"></span></td>
      </tr>
      <tr>
        <td>4</td>
        <td><span id="frame4_ball1"></span></td>
        <td><span id="frame4_ball2"></span></td>
        <td></td>
        <td><span id="frame4_total"></span></td>
      </tr>
      <tr>
        <td>5</td>
        <td><span id="frame5_ball1"></span></td>
        <td><span id="frame5_ball2"></span></td>
        <td></td>
        <td><span id="frame5_total"></span></td>
      </tr>
      <tr>
        <td>6</td>
        <td><span id="frame6_ball1"></span></td>
        <td><span id="frame6_ball2"></span></td>
        <td></td>
        <td><span id="frame6_total"></span></td>
      </tr>
      <tr>
        <td>7</td>
        <td><span id="frame7_ball1"></span></td>
        <td><span id="frame7_ball2"></span></td>
        <td></td>
        <td><span id="frame7_total"></span></td>
      </tr>
      <tr>
        <td>8</td>
        <td><span id="frame8_ball1"></span></td>
        <td><span id="frame8_ball2"></span></td>
        <td></td>
        <td><span id="frame8_total"></span></td>
      </tr>
      <tr>
        <td>9</td>
        <td><span id="frame9_ball1"></span></td>
        <td><span id="frame9_ball2"></span></td>
        <td></td>
        <td><span id="frame9_total"></span></td>
      </tr>
      <tr>
        <td>10</td>
        <td><span id="frame10_ball1"></span></td>
        <td><span id="frame10_ball2"></span></td>
        <td><span id="frame10_ball3"></span></td>
        <td><span id="frame10_total"></span></td>
      </tr>

    </table>
    <table class='bottom_table'><tr class='bottom_tr'><td class='bottom_td'>
    <table class="total_score">
      <tr>
        <th>Total Score: <span id="total_score"></span></th>
      </tr>
    </table></td><td class='bottom_td'>
    <button id='button_new_game' class="button_new_game">Start New Game</button>
  </td></tr></table>
  </center>

</body>

</html>
