extends layout

block content

  div.main
    b #{title}
    p Welcome.
    p Player name: ----> Create Game
    p Table
    | Code by
    a(href='//github.com/ruiined/bowling-challenge') MG
    | , 2022.