<html>
<body>

  <h1>total points <%= points %></h1>
  <h1> frame is <%= frame %></h1>
    <p><%=errors%></p>
  <form action="/" method="POST">
    <input name="roll1" placeholder="first roll" type="number" min="0" max="10"/>
    <input name="roll2" placeholder="second roll" type="number" min="0" max="10"/>
    <button type="submit">Submit</button>
  </form>

</body>
</html>