<!DOCTYPE html>
<html>
  <head>
    <title>Bowling Game</title>
  </head>
  <body>
    <section>
      <h1 id="Bowling Game"></h1>
      <p>
        <button id="Roll the Ball"></button>
      <p>
    </section>
    <script src="src/Bowling.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  </body>
</html>
