<!DOCTYPE html>
<html>
  <head>
    <title>Thermostat</title>
    <script src="js/bowling.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/css/style.css"></link>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="js/interface.js" type="text/javascript"></script>
  </head>
  <body>
    
  </body>
</html>
