<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bowling Scorecard</title>
    <link rel="stylesheet" type="text/css" href="bowling.css"/>
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/BowlingModel.js"></script>
    <script src="js/ScoreCalculator.js"></script>
    <script src="js/TurnIncrementer.js"></script>
    <script src="js/BowlingController.js"></script>
  </head>
  <body>
    <h1>Bowling Scorecard</h1>
    <form action="">
      Pins knocked down:
      <input id="knocked_pins" type="text" name="knocked_pins" value="0">
      <input id="enter" type="button" name="" value="Enter">
    </form><br>
    <p id="current_score"></p>
    <table>
      <tr>
        <th>Frame</th>
        <th>Roll</th>
        <th>Pins knocked down</th>
        <th>Score</th>
        <th>Notes</th>
      </tr>
      <tr>
        <td>1</td>
        <td>1</td>
        <td></td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td></td>
      </tr>
      <tr>
        <td>2</td>
        <td>1</td>
        <td></td>
      </tr>
      <tr>
        <td>2</td>
        <td>2</td>
        <td></td>
      </tr>
      <tr>
        <td>3</td>
        <td>1</td>
        <td></td>
      </tr>
      <tr>
        <td>3</td>
        <td>2</td>
        <td></td>
      </tr>
      <tr>
        <td>4</td>
        <td>1</td>
        <td></td>
      </tr>
      <tr>
        <td>4</td>
        <td>2</td>
        <td></td>
      </tr>
      <tr>
        <td>5</td>
        <td>1</td>
        <td></td>
      </tr>
      <tr>
        <td>5</td>
        <td>2</td>
        <td></td>
      </tr>
      <tr>
        <td>6</td>
        <td>1</td>
        <td></td>
      </tr>
      <tr>
        <td>6</td>
        <td>2</td>
        <td></td>
      </tr>
      <tr>
        <td>7</td>
        <td>1</td>
        <td></td>
      </tr>
      <tr>
        <td>7</td>
        <td>2</td>
        <td></td>
      </tr>
      <tr>
        <td>8</td>
        <td>1</td>
        <td></td>
      </tr>
      <tr>
        <td>8</td>
        <td>2</td>
        <td></td>
      </tr>
      <tr>
        <td>9</td>
        <td>1</td>
        <td></td>
      </tr>
      <tr>
        <td>9</td>
        <td>2</td>
        <td></td>
      </tr>
      <tr>
        <td>10</td>
        <td>1</td>
        <td></td>
      </tr>
      <tr>
        <td>10</td>
        <td>2</td>
        <td></td>
      </tr>
      <tr>
        <td>10</td>
        <td>3</td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
