<head>
  <link rel="stylesheet" href="skeleton.css">
</head>

<body>
  <form id="enter-throw">
    <label for="next-throw">Pins hit:</label>
    <input id="next-throw" name="next-throw" type="text" size="2" autofocus>
    <input type="submit" value="Enter">
  </form>

  <table style="border: 1px solid black;">
    <tr>
      <% for (i = 1; i <= 10; i++) { %>
      <th colspan="2">F<%=i%></th>
      <% } %>
    </tr>
    <tr>
      <% for (i = 1; i <= 10; i++) { %>
      <td id="f<%= i %>-b1"></td>
      <td id="f<%= i %>-b2"></td>
      <% } %>
    </tr>
  </table>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="bowling.js"></script>
  <script src="interface.js"></script>
</body>
