html
  head
    title= title
  body
    form(method='GET' action='/game/play')
      button(type='submit') New Game
  
    form(method='GET' action='/user/new')
      button(type='submit') Sign Up
  
    form(method='GET' action='session/new')
      button(type='submit') Log In
