<!DOCTYPE html>
<html>
  <head>
    <title>Bowling Score</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>

  <body>
    <h1>Bowling Score</h1>
    <section>
      <h1 id="Bowling Score!"></h1>
      <p>
        <button id="0">0</button>
        <button id="1">1</button>
        <button id="2">2</button>
        <button id="3">3</button>
        <button id="4">4</button>
        <button id="5">5</button>
        <button id="6">6</button>
        <button id="7">7</button>
        <button id="8">8</button>
        <button id="9">9</button>
        <button id="10">10</button>
      </p>
      <!-- <button id="end-game">End Game</button> -->
    </section>
    <h3>Ball number: <span id="ball-number">0</span></h3>
    <h3>Current score: <span id="current-score">0</span></h3>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="src/bowling.js"></script>
    <script src="src/interface.js"></script>

  </body>
</html>
