<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bowling Challange</title>

    <script src="js/lib/jquery-3.2.0.min.js"></script>
    <script src="js/Frame.js"></script>
    <script src="js/Game.js"></script>
    <script src="js/LastFrame.js"></script>
    <script src="js/Roll.js"></script>
  </head>
  <body>
    <h3>Welcome to Bowling Challenge</h3>
    <button type="button" name="play">Play</button>
    <button type="button" name="getscore">Get Score</button>
  </body>
</html>
