<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bowling Scorecard</title>
    <link rel="stylesheet" type="text/css" href="bowling.css"/>
    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/BowlingModel.js"></script>
    <script src="js/ScoreCalculator.js"></script>
    <script src="js/TurnIncrementer.js"></script>
    <script src="js/BowlingController.js"></script>
    <script src="js/Frame.js"></script>
  </head>
  <body>
    <h1>Bowling Scorecard</h1>
    <form action="">
      Pins knocked down:
      <input id="knocked_pins" type="text" name="knocked_pins" value="0">
      <input id="enter" type="button" name="" value="Enter">
    </form><br>
    <p id="current_score"></p>
    <table id="game">
      <tr>
        <th>Frame</th>
        <th>Roll</th>
        <th>Pins knocked down</th>
        <th>Score</th>
        <th>Notes</th>
      </tr>
      <% i = 0 %>
      <% roll = 1 %>
      <% while i <= 19 %>
        <tr>
          <% frame = (i/2).floor + 1 %>
          <td><%=frame%></td>
          <td><%= roll %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <% i += 1 %>
        <% roll == 1 ? roll = 2 : roll = 1 %>
      <% end %>
        <td>10</td>
        <td>3</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
