<div class="container-fluid">
<h1 class = "neon-pink">Bowling Scorecard</h1>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default score score1">1</button>
  <button type="button" class="btn btn-default score score2">2</button>
  <button type="button" class="btn btn-default score score3">3</button>
  <button type="button" class="btn btn-default score score4">4</button>
  <button type="button" class="btn btn-default score score5">5</button>
  <button type="button" class="btn btn-default score score6">6</button>
  <button type="button" class="btn btn-default score score7">7</button>
  <button type="button" class="btn btn-default score score8">8</button>
  <button type="button" class="btn btn-default score score9">9</button>
  <button type="button" class="btn btn-default score score10">10</button>
</div>
<br>
<span class="display"></span>
<p>See scores below</p>
<span class="scores"></span>
<p class = "frame1">-</p>
<p class = "frame2">-</p>
<p class = "frame3">-</p>
<p class = "frame4">-</p>
<p class = "frame5">-</p>
<p class = "frame6">-</p>
<p class = "frame7">-</p>
<p class = "frame8">-</p>
<p class = "frame9">-</p>
<p class = "frame10">-</p>

<p>Current Score: <span class="current-score">0</span></p>

<button type="button reset" class="btn btn-default score">Reset Game</button>

<footer>
  <a href="https://github.com/ryandav">Created by Ryan Davidson</a><br>
  <a href="#">click here to see repo on Github</a>
</footer>

</div>
