%div#upper
  %h1#header Welcome to Bowling Scorecard

#score-div
  %table#score-table
    %tr
      %th#frame-header          Frame
      %th#roll-header           Roll
      %th#knocked-down-header   Knocked Down
      %th#total-score-header    Total Score
      %th#notes-header          Notes
