%html
  %head
    %title Bowling Scorecard
    %link{ rel: "stylesheet", href: "style.css" }
  %body
    = yield
    %script{src: 'jquery.js'}
    %script{src: 'src/table.js'}
    %script{src: 'src/interface.js'}
    %script{src: 'src/game.js'}
