<!DOCTYPE html>
<html lang='en' dir='ltr'>
  <head>
    <meta charset='utf-8'>
    <title>Main Page for Bowling Game</title>
    <script src='https://code.jquery.com/jquery-3.2.0.min.js'></script>
  </head>
  <body>
    <p>
      <button class='button' id='zero'>0</button>
      <button class='button' id='one'>1</button>
      <button class='button' id='two'>2</button>
      <button class='button' id='three'>3</button>
      <button class='button' id='four'>4</button>
      <button class='button' id='five'>5</button>
      <button class='button' id='six'>6</button>
      <button class='button' id='seven'>7</button>
      <button class='button' id='eight'>8</button>
      <button class='button' id='nine'>9</button>
      <button class='button' id='ten'>10</button>
    <p>

    <h1 id='tot'>bla bla</h1>
    <script src='../Models/src/Game.js'></script>
    <script src='../Controllers/index.js'></script>
  </body>
</html>
