<h4>Hello <%= name %>, ready to play?</h4>
<button>Roll it!</button>

<div>
    <p>pins : <%= game.pins %></p>
    <p>roll: <%= game.roll() %></p>
    <table style="width:100%">
        <tr>
            <th>Frame</th>
            <th>Roll</th>
            <th>Knocked down pins</th>
            <th>Your score</th>
            <th>Comments</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

</div>

<script>

</script>