<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../styles/scoresheet.css">
  </head>
  <body>

    <table>
      <tr>
        <th>Name</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
      </tr>
      <tr>
        <td>Aidan</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>8</th><th>/</th><th>X</th></tr></table>9</td>
      </tr>
      <tr>
        <td>Aidan</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>8</th><th>/</th><th>X</th></tr></table>9</td>
      </tr>
      <tr>
        <td>Aidan</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>9</td>
        <td><table><tr><th>8</th><th>/</th><th>X</th></tr></table>9</td>
      </tr>
    </table>

  </body>
</html>
