<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../styles/scoresheet.css">
  </head>
  <body>
    <button id="0pin">0</button>
    <button id="1pin">1</button>
    <button id="2pin">2</button>
    <button id="3pin">3</button>
    <button id="4pin">4</button>
    <button id="5pin">5</button>
    <button id="6pin">6</button>
    <button id="7pin">7</button>
    <button id="8pin">8</button>
    <button id="9pin">9</button>
    <button id="10pin">10</button>


    <table id="main-scoresheet">
      <tr>
        <th id="name-heading">Name</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
      </tr>
      <tr>
        <td>Aidan</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>-</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>-</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>-</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>-</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>-</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>-</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>-</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>-</td>
        <td><table><tr><th>-</th><th>4</th><th>4</th></tr></table>-</td>
        <td><table><tr><th>8</th><th>/</th><th>X</th></tr></table>-</td>
      </tr>
    </table>

  </body>
</html>
