html
  head
    title=title
  body
    form(method='POST' action='/user/new')
      label(for='username') Username:
      input(type='text',name='username') 
      label(for='password') Password:
      input(type='password',name='password')
      button(type='submit') Sign Up
