extends layout.pug

block content

  form(method='POST' action='/auth/signup')
    label(for='username') Username:
    input(type='text',name='username') 
    label(for='password') Password:
    input(type='password',name='password')
    button(type='submit') Sign Up
