extends layout.pug

block content

  label(for='username') Username:
  input#name(type='text',name='username') 
  label(for='password') Password:
  input#password(type='password',name='password')
  button#signup(type='submit') Sign Up

  form(method='GET', action='/')
    button(type='submit') Home
