html {
  background: linear-gradient(#00CCFF, #0099FF) no-repeat fixed;
  color: #463E33;
}


ul, h1, #start {
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 900;
  font-family: serif;
  text-align: left;
  position: relative;
}

#frame, #score_sheet {
  top: 80px;
}

#frame {
  font-size: 30px;
  letter-spacing: 91px;
  padding-left: 80px;
  margin: 5px;
}

h1 {
  text-align: left;
  position: absolute;
  right: 50px;
  top: 15px;
  font-size: 70px;
  margin-top: 30px;
  margin-bottom: 30px;
  top: 108px;
  left: 63px;
}

#score {
  text-align: right;
  position: absolute;
  right: 50px;
  top: 15px;
  font-size: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  top: 98px;
  right: 70px;
}

button {
  font-size: 50px;
  padding: 20px;
  color: #463E33;
  background-color: #92E8FD;
  border: none;
  min-width: 250px;
}

#begin, #last_go {
	position: absolute;
	left: 500px;

}

#one {
	position: absolute;
	left: 450px;
	top: 250px;
}

#two {
	position: absolute;;
	right: 450px;
	top: 250px;
}
main {
  height: 500px;
}
header {
  text-align: center;
  font-size: 85px;
  letter-spacing: 5px;
  font-weight: 800;
  margin-top: 29px;
  padding-bottom: 23px;
}

#finish {
  text-align: center;
  font-size: 115px;
  position: absolute;
  top: 270px;
  left: 418px;
};