/* fonts */ 

html { font-family: 'Titillium Web', sans-serif; }

h1, h2, h3, h4 {
  font-family: 'Titillium Web', sans-serif;
}

/* table stuff */

#bowling th, #bowling td {
  padding: 8px;
  border: 1px solid rgb(179, 172, 172);
  width: 1%;
  border-radius: 2px;
}

#bowling th:hover, #bowling td:hover {
  border: 1px solid rgb(46, 44, 44);
}

#bowling {
  max-width: auto;
  border: 1px solid rgb(179, 172, 172);
  border-radius: 2px;
}

/* button stuff */

button {
  border: 1px solid rgb(179, 172, 172);
  border-radius: 2px;
}

button:hover {
  border: 1px solid rgb(46, 44, 44);
}

/* table text classes */

.textInvis {
  border: rgba(46, 44, 44, 0);
  background-color: rgb(46, 44, 44, 0);
  width: 20px;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  margin-bottom: 0;
  text-align: center;
}

.textInvis:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}