body{
    background-color: gainsboro;
    font-family: sans-serif;
}

input {
    text-align: center;
}

#play-game {
    display: none;
}

#frames {
    width: 100%;
}

#frames td, #frames th {
    border: 1px solid black;
}


#summarise {
    display: none;
}