#frame {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 0;
}

#sc {
  height: 7%;
}

.ball {
  width:50%;
}

.row {
  height: 50%;
}

#header {
  margin-top: 12%;
}

#new_game {
  margin-top: 8%;
  margin-bottom: 8%;
}

#bowls {
  margin-top: 8%;
  margin-bottom: 5%;
  padding-left: 20%;
  padding-right: 20%;
  height:5%;
}

.image {
  background-image: url("../img/bowling.png");
  height: 40%;
  background-color: black;
}

.ui.segment {
  padding-left: 0px;
  padding-right: 0px;
}
