body {
  color: grey;
  font-family: 'Chivo', sans-serif;
  background-image: url("https://images.unsplash.com/photo-1581084094544-5195e8c7bf76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2125&q=80");
  text-align: center;
  padding: 70px;
  width: 600px;
  margin: 20px auto;
  border-width: 10px;
}

#score {
  font-size: 80px;
}


#new {
  margin: 20px
}

.score_display { 
  color: grey;
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
