body, html {
  background-color: #cafaaf;
  font-family: 'Roboto', sans-serif;
}

h1 {
  padding-bottom: 2%;
}

.all {
  margin: 0 auto;
  width: 40%;
  text-align: center;
}

.hidden {
  display: none;
}

.pin-button {
  background-color: black;
  color: white;
  font-size: 200%;
  border-radius: 12px;
}

#info {
  text-align: left;
  position: absolute;
  margin-left: 5%;
  margin-top: 2%;
  padding-top: 2%;
  font-size: 120%;
}

#reset{
  margin-top: 10%;
  margin-left: 1%;
  background-color: black;
  color: white;
  border-radius: 12px;
  font-size: 150%;
}
