html { 
  background: url(../img/transparent-bowling-pins.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.begin {
    text-align: center;
    border: none;
}

.game {
    margin: 0px 60px 0px 60px;
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    flex-wrap: wrap;
}

.frames {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.frame {
    width: 100px;
    height: 100px;
    border: solid salmon;
    justify-content: space-between;
}

.frame h4 {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    margin-top: 5px;
}

.frame .rolls {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: x-large;
}

.pins {
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.pins .pin-button:hover {
    cursor: pointer;
    color: salmon;
}

.pins .pin-button:before {
    font-size: 2em;
}

.next-frame {
    margin-top: 50px;
}

.game-over {
    text-align: center;
}

.final-score {
    margin-top: 10px;
}

.score-img img {
    position: fixed;
    top: 50%;
    left: 50%;
}

.hidden {
    display: none;
}