table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  background-color:white;
  width: 100%;
}

td, th {
  border: 0.1em solid grey;
  text-align: left;
  padding: 1em;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
body {
  background-image: url("https://thumbs.gfycat.com/GorgeousEvilJoey-mobile.mp4");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
  text-align: center
}

.button {
  text-align: center;
  font-size: 1em;
  width: 5em;
}