<!DOCTYPE html>
<html>
<head>
  <title>Bowling!</title>
  <link rel='stylesheet' type='text/css' href='/css/style.css'>
</head>

<body>


  <footer>Bowling App in JS by @unicornelia</footer>

  <script src="/js/jquery-3.1.1.js"></script>
  <!-- <script src="/js/src/game.js"></script> -->
  <script src="/js/jquery.js"></script>

</body>

</html>
