.header {
  height: 200px;
  background-image: url("images/bowling.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

h1 {
  padding-top: 150px;
  color: #ededed;
}

.btn-primary {
  background-color: #6398ed;
  color: white;
}

.rounds > div {
  border: 1px red solid;
  border-left: none;
  /* background-color: #488ec4; */
}

.rounds .round-1 {
  border-left: 1px red solid;
}

.rounds .title {
  border-bottom: 1px red solid;
  margin-left: -15px;
  margin-right: -15px;
  text-align: center; /* width: 100% */
}

.rolls > div {
  /* border: 1px red solid; */
  border-bottom: 1px red solid;
}

.roll-1 {
  border-right: 1px red solid;
}

.roll-3 {
  border-left: 1px red solid;
}

.rolls.row > div {
  height: 25px;
}

.score {
  height: 25px;
}
