body {
  background-image: url("bowling_alley.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

.score_table {
  border: 3px solid black;
  padding: 2px;
  background-color: #fbf3b0;
  font-family: "Futura", Futura, serif;
  text-align: center;
  width: 500px;
  height: 400;
  border-spacing: 15px;
  border-radius: 25px;
}

.button_table {


  font-family: "Futura", Futura, serif;
  text-align: center;
  width: 550px;
  height: 200px;
  border-spacing: 5px;
  border-radius: 20px;
  height: 80px;
}

td {
  width: 30px;

  font-family: "Futura", Futura, serif;
  text-align: center;
}

.td_score {
  border: 0px solid black;

  font-family: "Futura", Futura, serif;
  text-align: center;
}

.bottom_td {
  border: 0px;
  background-color: transparent;
  font-family: "Futura", Futura, serif;
}

.bottom_tr {}

th {
;
  font-family: "Futura", Futura, serif;
  text-align: center;
}


.tableheader {
  border: 3px solid black;
  border-radius: 15px;
  padding: 5px;
  background-color: #fbf3b0;
  font-family: "Futura", Futura, serif;
  text-align: center;
  font-size: 29px;
}

.total_score {
  border-radius: 15px;
  clear: both;
  border: 3px solid black;
  width: 225px;
  padding: 2px;
  background-color: #fbf3b0;
  font-family: "Futura", Futura, serif;
  text-align: left;
  font-size: 30px;
  margin: 4px 2px;
}

.bottom_table {}

.button_new_game {
  clear: both;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  border-radius: 15px;
  border: 6px solid #4CAF50;
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Futura", Futura, serif;
}

.button_new_game:hover {
  background-color: #4CAF50;
  /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button_new_game:active {
  background-color: #3e8e41;
  border: 6px solid #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

.button_new_game:focus {
  outline: 0;
}

.new_ball_button {
  font-family: "Futura", Futura, serif;
  border: 4px solid #4CAF50;
  background-color: white;
  border-radius: 10px;
  color: black;
  text-align: center;
  font-size: 25px;
  width: 45px;
}

.new_ball_button:not(:last-child) {
  border-right: none;
  /* Prevent double borders */
}

.new_ball_button:hover {
  background-color: white;
}

.new_ball_button:active {
  background-color: #4CAF50;
  transform: translateY(3px)
}

.new_ball_button:focus {
  outline: 0;
}
