[id*="frame"] {
  border-left:1px solid;
  border-bottom:1px solid;
}

html {
    font-family: "Lucida Sans", sans-serif;
}
header {
    background-color: blue;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

.record_roll {
  height: 100px;
  text-align: center;
}

input#bowlingBall{
  height: 50px;
  width: 50px;
}

input#bowlingBall:hover{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}

input#pins {
  height: 30px;
  width: 50px;
  text-align: center; font-size:15px;
}

label#record_text {
  font-weight: bold;
}

table.scorecard {margin: 3% auto; width:80%; font-size:12px; border:1px solid; text-align: center; table-layout: fixed; margin-bottom: 40px;}
table.scorecard th, tr, td {padding: 0; vertical-align: middle; font-family: Arial, Helvetica, sans-serif; text-align: center;}
table.scorecard th {border-bottom:1px solid; background-color:#d3313a; height:30px; color: #fff}
table.scorecard th:not(:last-child) {border-right:1px solid;}
table.scorecard td {height:30px; background: rgba(255, 255, 255, 0.5);}
table.scorecard tr td:not(:last-child) {border-right:1px solid;}
