body {
  background: rgb(2,0,36);
  background: linear-gradient(120deg, #164141 0%, #071414 45%, #020606 100%);
  padding: 2em;
  margin: 0em;
  font-family: Verdana, Geneva, sans-serif;
}

h1 {
  color: #F6FCFC;
  letter-spacing: .4em;
  font-family: Verdana, Geneva, sans-serif;
  text-align:center;
  font-size: 3em;
  padding: 0em;
  margin: 0.5em;
}

h2 {
  color: #071414;
  letter-spacing: .2em;
}

p {
  display: inline;
  font-size: 1.2em;
  color: #071414;
  letter-spacing: 0.1em;
  padding: 0.2em;
}

p1 {
  font-size: 1.2em;
  letter-spacing: 0.8em;
  padding: 0.2em;
}

table, th, td {
  border: 1px solid #071414;
  border-collapse: collapse;
  text-align:center;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  color: #071414;
  padding: 0.2em;
}

th, td {
  color: #071414;
}

button {
  border: 2px solid #f44336;
  color: #071414;
  background-color: white;
  height: 2em;
  width: 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  margin: 0.2em;
  cursor: pointer;
  border-radius: 50%;
}

button:hover {
  background-color: #4CAF50;
  color: white;
}

.buttonHolder{
  text-align: center;
}

div {
  border-radius: 2em;
  background-color: #f6fcfc;
}

.left-column {
  width: 50%;
  float: left;
  padding: 2%;
}

.right-column {
  width: 40%;
  float: right;
  padding: 2%;
}

.chartHolder {
  padding: 5em, 70px, 5em;
}
