p {
  display: inline;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  padding: 0.2em;
}

p1 {
  font-size: 1.2em;
  letter-spacing: 0.8em;
  padding: 0.2em;
}

h1 {
  color: white;
  letter-spacing: .2em;
  font: arial, sans-serif;
  text-align:center;
  font-size: 3em;
  padding: 0em;
  margin: 0.4em;
}

body {
  background-color: #003a73;
  padding: 2em;
  margin: 0em;
}

table, th, td {
  border: 1px solid #003a73;
  border-collapse: collapse;
  text-align:center;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  padding: 0.1em;
}

th, td {
  padding: 0.2em;
}

button {
  border: none;
  color: white;
  background-color: #003a73;
  height: 2em;
  width: 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  margin: 0.2em;
  cursor: pointer;
  border-radius: 50%;
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.buttonHolder{
  text-align: center;
}

div {
  border-radius: 30px;
  background-color: #f2f2f2;
}

.left-column {
  width: 30%;
  float: left;
  padding: 1em;
}

.right-column {
  width: 60%;
  float: right;
  padding: 1em;
}

.chartHolder {
  padding: 5em, 70px, 5em;
}
