body {
  background-color: red;
}

li{
  list-style-type: none; /*Removes bullet points*/
  float:left; /*Moves div to next row if the window is too narrow*/
  background:red; border:2px #000 solid; /*For demo*/
  width: 80px;
}
