html {
  min-height: 100%;
  position: relative;
}
table {
  width: 80%;
  margin: auto;
}
body {
  background-image: url('biglebowski.jpg');
  background-size: cover;
  color: black;
  font-family: helvetica,sans-serif;
  text-align: center;
  margin: 0;
  margin-bottom: 100px;
}
button {
  font-size: 14px;
  background-color: slateblue;
  border-radius: 10px;
  padding: 5px;
}
footer {
  color: rgb(53,27,102);
  bottom: 0;
  height: 80px;
  position: absolute;
  left: 0;
  right: 0;
}
a {
  display: inline-block;
  font-size: 14px;
  background-color: slateblue;
  border-radius: 12px;
  padding: 5px;
  margin-bottom: 10px;
  width: 100px;
  margin: 0 auto;
  text-decoration: none;
  color: rgb(53,27,102);
  font-size: 14px;
}
a:visited {
  color: rgb(53,27,102);
}
.tg  {
  border-collapse:collapse;
  border-spacing:0;
  border-color:#bbb;
}
.tg td{
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:10px 5px;
  border-style:solid;border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:#bbb;color:black;
  background-color:#E0FFEB;
}
.tg th{
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:#bbb;
  color:black;
  background-color:#9DE0AD;
}
.tg .tg-b44r{
  background-color:#cbcefb;
  vertical-align:top
}
.tg .tg-ywa9{
  background-color:#ffffff;
  color:black;
  vertical-align:top
}
.tg .tg-rnzd{
  background-color:#9698ed;
  color:black;
  vertical-align:top
}
.tg .tg-vqp3{
  background-color:#9698ed;
  color:#000000;
  text-align:center;
  vertical-align:top
}
.tg .tg-wohh{
  background-color:#9698ed;
  text-align:center;
  vertical-align:top
}
.tg .tg-oskr{
  background-color:#ffffff;
  vertical-align:top
}
.tg .tg-3we0{
  background-color:#ffffff;
  vertical-align:top
}
