* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}


div {
  padding: 10px;
}

table {
  padding: 0;
  border-spacing: 0;
}

th {
  padding: 5px 0;
}

tr {
  padding: 20px 30px;
}

td {
  padding: 20px 30px;
}

h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 50px
}
