
/* ------------------------------------------- */
/*    special class for Frame 1                */
/* ------------------------------------------- */
div.frameboxFrameone {
    box-sizing: border-box;
    width: 8.333%;
    height: 80%;
    border:solid thin Black ;
    float: left;
    background-color:#FAFAD2 ;
    text-align:center;
    vertical-align: middle;
    font:'Times New Roman', 'Arial Black', times, Serif ;
    font-weight: bold;
    font-size:large;
}

/* ------------------------------------------- */
/*    general classes for Frame 2 thru 9      */
/* ------------------------------------------- */
div.framebox {
    box-sizing: border-box;
    width: 8.333%;
    height: 80%;
    margin: 0pt 0pt 0pt 0pt;
    border-left:none;
    border-bottom:solid thin Black ;
    border-right:solid thin Black ;
    border-top:solid thin Black ;
    float: left;
    background-color:#FAFAD2 ;
    text-align:center;
    vertical-align: middle;
    font:'Times New Roman', 'Arial Black', times, Serif ;
    font-weight: bold;
    font-size:large;
}


/* ------------------------------------------- */
/*  Holds the little frame number - not score */
/* ------------------------------------------- */
.framename {
    box-sizing: border-box;
    width: 100%;
    height: 25%;
    margin: 0pt 0pt 0pt 0pt;
    border-bottom:solid thin Black;
    background-color: orange;
    text-align:center;
    font-size:100%;  /* will be overloaded for smaller screens*/
    padding-top:6px;
}

div.framescorebox {
    box-sizing: border-box;
    width: 100%;
    height:75%;
    margin:0;
    border-top:1px #000 solid;
    padding-top: 36px;
    text-align:center;
}

.panel-body {
  font-size: 24px;
  /*border:2px #C0C0C0 solid;*/
  padding: 20px;
  height:50px;
  margin:2.0px ;
}

body {
  background: grey;
  padding: 10px 10px 10px 10px;
  line-height: 100%;
}

.btn {
  display: inline;
  padding: 10px;
  color: red;
}

.btn:hover {
  color: #333333;
  background-color: #829db6;
}

.scoresheet_container {
}

.frameScoreFontSize {
  font-size: 20px;
  padding: 10px;
}

.frameFontSize {
  font-size: 20px;
}
