body{
  background-image: url('https://media.giphy.com/media/Kto2WhhTPwRcQ/giphy.gif');
  background-size: cover;
  height: 100vh;
  padding:0;
  margin:0;
}
h1, h2{
font-family: 'Smokum', cursive;
text-align: center;
color: aliceblue;
font-size: 100px;
}

button, input{
  font-family: 'Pacifico', cursive;
  font-size: 20px;

}

h1,h2{
  margin-top: 0px; 
  margin-bottom: 0px; 
  margin-left: 0px; 
  margin-right: 0px;
  padding: 0;
}

h4{
  font-size: 30px;
  font-family: 'Smokum', cursive;
  color: aliceblue;
  display: inline;
}
