@font-face {
font-family: 'Alba';
font-style: normal;
font-weight: normal;
src: local('Alba'), url('ALBA____.woff') format('woff');
}


@font-face {
font-family: 'Alba Matter';
font-style: normal;
font-weight: normal;
src: local('Alba Matter'), url('ALBAM___.woff') format('woff');
}


@font-face {
font-family: 'Alba Super';
font-style: normal;
font-weight: normal;
src: local('Alba Super'), url('ALBAS___.woff') format('woff');
}

body {
  font-family: "Alba Super";
  background-image: url("bowling.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 25%;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

#title {
  color: black;
  font-size: 40px;
}

/* #pinButtons {
  margin: auto;
  position: absolute;
  align: center;
} */

.button {
  background: transparent;
}

#0pin {
  position:absolute;
  background: transparent;
  border: none;
}

#selectPinNumber {
  font-family: 'Alba';
  color: white;
  font-size: 30px;
  margin: 10px;
}

.output {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 600px;
  height: 300px;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 35%;
  opacity: 0.7;
}
