#temperaturecontrol {

}
#turnup {
   width: 250px;
   height: 20px;
   margin-left: 350px;
   margin-bottom: 1em;
   padding: 50px;
}

 #turndown {
   width: 250px;
   height: 20px;
   margin-bottom: 1em;
   padding: 50px;
}

#powersaveon {
  width: 150px;
  height: 150px;
}

#powersaveoff {
  width: 150px;
  height: 150px;
}
