<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bowling Scoreboard</title>
    <link rel="stylesheet" type="text/css" href="./my_pretty_page.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Faster One' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f2b366d57b.js" crossorigin="anonymous"></script>
</head>

<style>
    .custom-container {
        font-family: 'Faster One'; font-size: 22px;
    }
</style>

<body>
    <div class="container custom-container">
        <div class="col">
            <h1 class="text-center">Bowling Scoreboard</h1>
        </div>
    </div>
</body>

</html>