html {
  font-family: Helvetica;
  padding: 50px;
  background: #ffffcc;
  background: -webkit-linear-gradient(to right, #ffffcc , #990000);
  background: linear-gradient(to right, #ffffcc , #990000);
}

h1 {
  text-align: center;
  color: black;
}

a {
  color: #C0C0C0;
}

a:hover{
  color: #A9A9A9;
  text-shadow: 1px 1px 1px black;
}

table, th, td {
    border: 1px solid black;
}
