body {
  background: #6e6e6e;
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0.5em;
    border-collapse: collapse;
}

thead {
    background-color: #103b6a;
    color: white;
}

tbody {
    background-color: #103b6a;
    color: white;
}

th, td {
    border: 5px solid white;
    text-align: center;
    padding: 8px;
}

#inputPins {
  text-align: center;
}

button {
  background-color: #103b6a;
  color: white;
  width: 50px;
  height: 30px;
  font-size: 125%;
}

h2 {
  color: #103b6a;
}

#totalScore {
  text-align: center;
}
