table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0.5em;
    border-collapse: collapse;
}

thead {
    background-color: lightblue;
    color: white;
}

tbody {
    background-color: lightblue;
}

tfoot {
    background-color: lightblue;
    text-align: center;
}

th, td {
    border: 5px solid white;
    text-align: center;
    padding: 8px;
}

#inputPins {
  text-align: center;
}

h2 {
  color: lightblue;
}

#totalScore {
  text-align: center;
}
