.messages {
  background-color: yellow;
}

.headers {
  height: 3em;
  display: flex;
  flex-direction: row;
  background-color: green;
}

.one_header {
  width: 8%;
  background-color: yellow;
  text-align: center;
  margin-right: 1.3em;
}

.ten_header {
  width: 14%;
  margin-right: 0.4em !important;
}

.table {
  height: 3em;
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
}

.one_frame {
  width: 5%;
  background-color: blue;
  margin-right: 0.5em;
}
