#title {
  font-weight: bolder;
  font-size: xx-large;
}

.frame-box {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 150px;
  width: 150px;
  background-color: red;
}

.frame-box-header {
  display: grid;
  grid-template-rows: 50% 50%;
  color: brown;
  height: 50px;
  width: 170px;
  border-style: solid;
  border: 3px;
}

.frame-box-body {
  color: black;
}

.roll {
  text-align: right;
  font-size: 20px;
}
