#title {
  font-weight: bolder;
  font-size: xx-large;
}

.grid-container {
  display: grid;
  grid-template-rows: 35% 65%;
  height: 100px;
  width: 100px;
  border: 3px solid black;
}

.frame-box-header {
  display: grid;
  grid-template-columns: 60% 40%;
  height: auto;
  width: auto;
  border-style: solid;
  border: 3px;
}

.roll-scores {
  display: grid;
  width: auto;
  grid-template-columns: 50% 50%;
  border-style: solid black;
}

.frame-box-body {
  color: black;
}

.roll-box {
  border-style: solid;
  text-align: center;
}

.roll {
  font-size: 25px;
}

.frame-score {
  font-size: 60px;
  float: bottom;
  float: right;
  padding-bottom: 10px;
  padding-right: 3px;
}