
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bowling Scorecard</title>

  <!-- include source files here... -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
 <script type="text/javascript" src="../src/javascripts/game.js"></script>
  <script type="text/javascript" src="../src/javascripts/frame.js"></script>
  <script type="text/javascript" src="../src/javascripts/tenthFrame.js"></script>
   <link href="../src/stylesheets/index.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="../src/app.js"></script>

</head>

<body>
  <h1> Bowling Score Card </h1>
  <p></p> 
  <div id="frame">
    <div id="score1"></div>
    <div id="small">
      <div id="score2">
      </div>
    </div>
</div>
  <div id="frame"><div id="small"></div></div>
  <div id="frame"><div id="small"></div></div>
  <div id="frame"><div id="small"></div></div>
  <div id="frame"><div id="small"></div></div>
  <div id="frame"><div id="small"></div></div>
  <div id="frame"><div id="small"></div></div>
  <div id="frame"><div id="small"></div></div>
  <div id="frame"><div id="small"></div></div>
  <div id="frame"><div id="small"></div></div>

 <form > 
  <label> Score 1: <input id="score" type="Integer" name="score1">
    <input  id="scoreInput"type="submit" value="Submit Score">
  </form>
</html>