@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Open+Sans+Condensed:300');

body {
  background-color: #e5e9da;
  color: #131c21;
}

body::after{
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('./bowling.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  width: 100%;
  height: 100%;
  opacity : 0.2;
  z-index: -1;
}

.start-game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 3em;
  color: #54778d;
  line-height: 1.4em;
}

table {
    border-collapse: collapse;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    text-align: center;
    width: 50%;
}

th {
  background: #54778d;
  color: white;
  border: 1px solid #a0bfd4;
  padding: 8px;
}

td {
    border: 1px solid #a0bfd4;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #a0bfd4;
}

tr:nth-child(odd) {
    background-color: #f8f9f4;
}

button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 3em;
  height: 2em;
  cursor: pointer;
  margin: 1em 2em 3em 2em;
  padding: 0.5em 1.5em;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-family: 'Fredericka the Great', cursive;
  font-size: 20px;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #54778d;
}
