body {
  color: #1b9009;
  background-color: #d5fccf;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(30, 50px);
  grid-template-rows: [row-title-start] auto [row-frames-start] auto [row-rolls-start] auto [row-scores-start] 40px;
}

.grid-container > div {
  background-color: #d5fccf;
}

.grid-item {
  border: 1px solid red;
  background-color: #d5fccf;
}

#grid-title {
  grid-column: 1 / 21;
  grid-row: row-title-start;
  /* justify-self: center; */
  text-align: center;
}

.frame-no {
  border: 1px solid orange;
  grid-column-start: span 2;
  grid-row: row-frames-start / row-rolls-start;
  /* justify-self: center; */
  text-align: center;
}

.frame-total {
  border: 1px solid orange;
  grid-column-start: span 2;
  grid-row: row-title-start / row-rolls-start;
  /* justify-self: center; */
  text-align: center;
}

.roll {
  border: 1px solid turquoise;
  /* grid-column: 1 / end; */
  grid-row: row-rolls-start;
}

.total-score {
  border: 1px solid black;
  grid-column-start: span 2;
  grid-row: row-scores-start;
  /* padding-left: 10px; */
  text-align: center;
}
