body,
html {
  height: 100%;
  color: #f0544f;
  font-family: "Roboto", sans-serif;
  margin: auto;
}

.background {
  background-image: url(/images/pexels-matthias-zomer-344034.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

h1 {
  font-family: "Dela Gothic One", cursive;
}
#enter-rolls {
  font-size: 20px;
  /* position: absolute;
  top: 120px; */
  /* left: 400px; */
}

#card-and-reset {
  /* position: absolute;
  top: 200px; */
}

.grid-container {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(22, 50px);
  grid-template-rows: [row-title-start] 30px [row-frames-start] 30px [row-rolls-start] 30px [row-scores-start] 30px;
}

/* .grid-item {
  background-color: #d5fccf;
} */

#grid-title {
  grid-column: 1 / 21;
  grid-row: row-title-start;
  text-align: center;
  font-weight: bold;
  line-height: 170%;
}

.frame-no {
  border-bottom: 2px solid white;
  grid-column-start: span 2;
  grid-row: row-frames-start / row-rolls-start;
  text-align: center;
  line-height: 170%;
}

.frame-total {
  border-left: 1px solid white;
  border-bottom: 2px solid white;
  grid-column-start: span 2;
  grid-row: row-title-start / row-rolls-start;
  text-align: center;
  line-height: 350%;
  font-weight: bold;
}

.roll {
  border-left: 1px solid white;
  grid-row: row-rolls-start;
  text-align: center;
  line-height: 170%;
}

.total-score {
  border-top: 1px solid white;
  border-left: 1px solid white;
  grid-column-start: span 2;
  grid-row: row-scores-start;
  text-align: center;
  line-height: 170%;
}

#final-total {
  border-left: 2px solid white;
  border-right: 1px solid white;
  border-top: 2px solid white;
  border-bottom: 1px solid white;
  font-size: 20px;
  font-weight: bold;
  line-height: 135%;
}
