

/*body {
  background:#82ffec;
  background:-moz-linear-gradient(top,\#82ffec 0,#9b42f4 100%);
  background:-webkit-linear-gradient(top,#82ffec 0,#9b42f4 100%);
  background:linear-gradient(to bottom,#82ffec 0,#9b42f4 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#82ffec', endColorstr='#9b42f4,', GradientType=0 );background-repeat:no-repeat;background-attachment:fixed}

}*/


body.cold {
  background:#82ffec;
  background:-moz-linear-gradient(top,\#82ffec 0,#9b42f4 100%);
  background:-webkit-linear-gradient(top,#82ffec 0,#9b42f4 100%);
  background:linear-gradient(to bottom,#82ffec 0,#9b42f4 100%);
}

body.hot {
  background:#82ffec;
  background:-moz-linear-gradient(top,\#ffa100 0,#f40909 100%);
  background:-webkit-linear-gradient(top,#ffa100 0,#f40909 100%);
  background:linear-gradient(to bottom,#ffa100 0,#f40909 100%);
}

#outer
{
  width:100%;
  text-align: right;
}


#outer
{
  width:100%;
  text-align: center;
}
.inner
{
  display: inline-block;
  text-align: center;
}

  @import url(http://fonts.googleapis.com/css?family=Lato:700);
@track-color: #740d77;
@thumb-color: #ee42f4;

@thumb-radius: 5px;
@thumb-height: 30px;
@thumb-width: 20px;

@thumb-border-width: 1px;
@thumb-border-color: #d6d6d6;

@track-width: 100%;
@track-height: 20px;

@track-border-width: 1px;
@track-border-color: #e6e6e6;

@track-radius: 0px;
@contrast: 5%;
/*html,body{
  height: 100%;
  width: 100%;
}
html,*/
button,
input,
select,
textarea {
  color: #5e5e5e;
  -webkit-font-smoothing: antialiased;
}
/*body {
  font: 14px/24px Lato, Helvetica, Helvetica Neue, Arial;
  line-height: 1.4;
}*/
#page{
width: 275px;
margin: 20px auto;
}
.progress-bar{
  display: inline-block;
  width: 275px;
  height: 275px;
  margin: 7px;
  padding: 0;
}
.progress-bar .progress-active{
  position: relative;
  top: -279px;
}
.progress-bar p{
  position: relative;
  margin: 0;
  padding: 0;
  width: 275px;
  top: -460px;
  font-size: 54px;
  font-weight: 900;
  text-align: center;
}
#progressControllerContainer{
  position: absolute;
  top: 320px;
  padding: 10px 80px;
}

.track() {
  width: @track-width;
  height: @track-height;
  cursor: pointer;
  animate: 0.2s;
}

.thumb() {
  border: @thumb-border-width solid @thumb-border-color;
  height: @thumb-height;
  width: @thumb-width;
  border-radius: @thumb-radius;
  background: @thumb-color;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  margin: @thumb-height/2 0;
  width: @track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    .track();
    background: @track-color;
    border-radius: @track-radius;
    border: @track-border-width solid @track-border-color;
  }

  &::-webkit-slider-thumb {
    .thumb();
    -webkit-appearance: none;
    margin-top: ((-@track-border-width * 2 + @track-height) / 2) - (@thumb-height / 2);
  }

  &:focus::-webkit-slider-runnable-track {
    background: lighten(@track-color, @contrast);
  }

  &::-moz-range-track {
    .track();
    background: @track-color;
    border-radius: @track-radius;
     border: @track-border-width solid @track-border-color;
  }
  &::-moz-range-thumb {
     .thumb();
  }

  &::-ms-track {
    .track();
    background: transparent;
    border-color: transparent;
    border-width: @thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: darken(@track-color, @contrast);
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
  }
  &::-ms-fill-upper {
    background: @track-color;
    border: @track-border-width solid @track-border-color;
    border-radius: @track-radius*2;
  }
  &::-ms-thumb {
    .thumb();
  }
  &:focus::-ms-fill-lower {
    background: @track-color;
  }
  &:focus::-ms-fill-upper {
    background: lighten(@track-color, @contrast);
  }
}
