<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bowling</title>
</head>

<body>
  <h1 id='title'> Bowling Scorecard !! :)</h1>
  <section>
    <h2> Score: <span id='score'> </span></h2>
    <form id='first-roll-form'>
      <input id="first-roll" type="text" placeholder="First Roll Score"></input>
      <input type="submit"></input>
    </form> <br><br>
    <form id='second-roll-form'>
      <input id="second-roll" type="text" placeholder="Second Roll Score"></input>
      <input type="submit"></input>
    </form>
  </section>



<script src="../src/frame.js"></script>
<script src="../src/scorecard.js"></script>
<script src="../src/interface.js"></script>
</body>
</html>