table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }

td {
  padding: 30px;
  text-align: center;
}

th {
  padding: 5px;
  font-size: 20px;
}

input[type="number"] {
  width: 40px;
}

#total {
  padding-left: 35px;
  padding-right: 35px;
  font-size: 20px;
}