body {
  margin:0;
}

.wrapper {
  text-align: center;
  width:100%;
  background-color: #B5DAFF;
  position: absolute;
  font-family: Arial;
}

header {
  background-color: #cc0066;
  font-size: 36px;
  padding: 15px;
  color: #ffffff;
}

.score-section {
  margin: auto;
  padding: 25px;
  font-size: 24px;
}

.score-table {
  padding: 10px 20%;
}

table {
  width:100%;
}

table, td {
  border: 1px solid #000000;
}

.scores td {
  width:20px;
  height: 20px;
  font-size: 12px;
}

.frame-titles {
  color: #ffffff;
  background-color: #cc0066;
}

.running-scores, .total-scores {
  font-weight: bold;
}

.total-scores td {
  font-size: 16px;
}

.lane {
  text-align: left;
  position: absolute;
  height: 200px;
}

.buttons {
  text-align: left;
  padding: 0 25%;
}

button {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: 15px;
  background-color: #ffffff;
  color: #000000;
}

.notification {
  background-color: #ccff66;
  padding: 10px;
  font-size: 30px;
  color: #000000;
  display: none;
}