html, body {
  height: 100%;
  font-family: 'Catamaran', sans-serif;
}

#main-wrapper {
  height: 100%;
  background: url(../bowling_alley.png) no-repeat center center fixed;
  background-size: cover;
}

table {
  background-color: #FFFFFF;
  opacity: 0.8;
  border-style: solid;
  border-width: 3px;
  border-color: #292929;
  margin: 180px 15px;
}

td {
  width: 60px;
  height: 60px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
}

#scores {
  height: 100px;
  font-size: 32px;
}
