html {
  height: 100vh;
  font-family: 'Montserrat Alternates', sans-serif;  
}

body {
  width: 100%;
  width: 100vw;
  height: 90vh;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, rgb(102, 1, 1) -10%, rgb(235, 213, 108));
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

#all-frames {
  width: 100vw;
  height: 10vw;
  margin: 0 auto;
  text-align: center;
  list-style: none;
  padding: 0;
}

.each-frame {
  display: inline-block;
  width: 10vw;
  min-width: 100px;
  height: 10vw;
  min-height: 100px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px 1.5px 3px 1.5px;
  border-color: rgb(235, 213, 108);
  margin: 0;
}

.each-frame:first-child {
  border-left-width: 3px;
}

.each-frame:last-child {
  border-right-width: 3px;
}

.frame-number, .frame-score {
  float: left;
  margin: 0;
  width: 100%;
  height: 20%;
  /* line-height: 200%; */
  box-sizing: border-box;
  border-width: 0;
  border-bottom-width: 3px;  
  border-style: solid;
  border-color: rgb(235, 213, 108);
}

.frame-score {
  height: 40%;
  border: none;
}

.round-one, .round-two {
  float: left;
  width: 50%;
  height: 40%;
  margin: 0;  
  box-sizing: border-box;
}

.round-two {
  border-width: 0;
  border-left-width: 3px;
  border-bottom-width: 3px;  
  border-style: solid;
  border-color: rgb(235, 213, 108);
}
