html {
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-left: 18px;
  margin-bottom: 50px;
}

table {
  margin-top: 30px;
  margin-left: 20px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid rgb(200, 200, 200);
}

th {
  padding: 5px 10px;
}

td {
  text-align: center;
}

label {
  padding: 0 20px;
}

#total-score-div {
  margin-left: 20px;
  margin-top: 30px;
}
