<h1>Please sign-up<h1>
<form method="post" action="/users/new">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" name='submit' value="Submit">
</form>