body {
  margin: 0;
  padding: 0;
  background: #191919;
}

h1 {
  text-align: center;
  font-size: 66px;
  font-family: 'Rancho';
  color: #DDBB22;
}

#content {
  text-align: center;
  font-size: 40;
  font-family: 'Rancho';
  color: #DDBB22;
}

.loader-container {
  position: absolute;
  width: 700px;
  height: 300px;
  background: #191919;
  text-align: center;
  padding-top: 20px;
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 auto;
}

.ball {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  z-index: 50;
  -webkit-animation: spin .75s infinite;
  -ms-animation: spin .75s infinite;
  -moz-animation: spin .75s infinite;
  animation: spin .75s infinite;
}

.ball-gradient {
  position: absolute;
  top: -70px;
  left: -60px;
  width: 200px;
  height: 200px;
  background-position: -50px -50px;
  background: #d8c87f;
  background: -moz-radial-gradient(center, ellipse cover, #d8c87f 11%, #d8c87f 11%, #ddbb22 12%, #ddbb22 34%, #a38500 35%, #a38500 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(11%,#d8c87f), color-stop(11%,#d8c87f), color-stop(12%,#ddbb22), color-stop(34%,#ddbb22), color-stop(35%,#a38500), color-stop(100%,#a38500)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #d8c87f 11%,#d8c87f 11%,#ddbb22 12%,#ddbb22 34%,#a38500 35%,#a38500 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #d8c87f 11%,#d8c87f 11%,#ddbb22 12%,#ddbb22 34%,#a38500 35%,#a38500 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #d8c87f 11%,#d8c87f 11%,#ddbb22 12%,#ddbb22 34%,#a38500 35%,#a38500 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, #d8c87f 11%,#d8c87f 11%,#ddbb22 12%,#ddbb22 34%,#a38500 35%,#a38500 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8c87f', endColorstr='#a38500',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
  z-index: 31;
}

.hole:nth-child(1) {
  position: absolute;
  top: 18px;
  left: 60px;
  width: 10px;
  height: 10px;
  background: rgba(0,0,0,.6);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 55;
}

.hole:nth-child(2) {
  position: absolute;
  top: 20px;
  left: 35px;
  width: 10px;
  height: 10px;
  background: rgba(0,0,0,.6);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 55;
}

.hole:nth-child(3) {
  position: absolute;
  top: 38px;
  left: 50px;
  width: 10px;
  height: 10px;
  background: rgba(0,0,0,.6);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 55;
}

.shadow {
  width: 100px;
  height: 25px;
  background: rgba(0,0,0,.6);
  -moz-border-radius: 100px / 25px;
  -webkit-border-radius: 100px / 25px;
  border-radius: 100px / 25px;
  margin: -14px auto 0;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.loader-text {
  background-color: #191919;
  color: #DDBB22;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 15px;
  font-family: 'Rancho';
  margin-left: 14px;
}
