#heading {
 padding-top: 30px;
 font-family: sans-serif;
 color: white;
}

body {
  background-color: black;
}

#container {
  width: 1350px;
  height: 770px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(background.jpg);
  margin: 20px auto;
}

#scoreboard{
  color: #293044;
  width: 1200px;
  height: 475px;
  background-color: #E8E8E8;
  centers it horizontally without changing the size
  margin: 0 auto;
  top: 30px;
  position: relative;
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;

  adds curly sides
  border-radius: 5px;

  adds shadow around the div
  box-shadow: 15px -9px 68px -4px rgba(0,0,0,0.54);
}
.number {
  font-size: 20px;
  background-color: #fef3d0;
  padding: 10px;
  border-radius: 50%;
  border: none;
  box-shadow: 10px -7px 50px -4px rgba(0,0,0,0.3);
}

table {
  padding-top: 35px;
  padding: auto;
  text-align: center;
  color: #293044;
}

#bonus {
  background-color: #f6ffe6;
}

#frame {
  background-color: #f4f3f8;
  box-shadow: 10px -7px 40px -4px rgba(0,0,0,0.3);
}

#frame:hover {
  transform: scale(1.0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #FA8072;
}

.frames {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 2.5px;
  font-size: 17px;
  background-color: #f4f3f8;
  border-color: #f7f6f1;
}


.score {
  margin: 10px auto;
  font-size: 17px;
  background-color: #fff0de;
  border-color: #e6f0ed;
}

.title {
  font-size: 29px;
  background-color: #ffe6e8;
  border-color: #f7f6f1;
}

#strike {
  font-size: 120px;
  color: red;
}

#spare {
  font-size: 100px;
  color: white;
}

.total {
  width: 100px;
  height: 100px;
  font-size: 30px;
  background-color: #FFFAF0;
  color: #293044;
  padding-bottom: 5px;
  border-radius: 50%;
  box-shadow: 15px -9px 6px -4px rgba(0,0,0,0.5), color: red;
  border-color: #f7f6f1;
  outline: none;
  box-shadow: 10px -7px 15px -4px rgba(0,0,0,0.3);
  outline: none;
  color: #293044;
  border: none;
}

#reset {
  font-size: 17px;
  color: #FA8072;
  border-radius: 10px;
  margin-right: 85%;
  padding: 10px;
  border-radius: 30%;
  border-color: white;
  outline: none;
}

.operators {
  border-radius: 50%;
  font-size: 17px;
  width: 40px;
  height: 40px;
  margin: 2.5px;
  margin-bottom: 23px;
  margin-top: 23px;
  box-shadow: 10px -7px 15px -4px rgba(0,0,0,0.3);
  outline: none;
  color: #293044;
  border: none;
}

@keyframes .operators {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.operators:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #FA8072;
}

.total:hover {
  transform: scale(1.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

 #reset:hover {
   transform: scale(1.1);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }

#totalscore {
  font-size: 30px;
}

.svg1 {
   position: absolute;
   left: 169px;
   bottom: -170px;
}

.svg2 {
   position: absolute;
   right: 155px;
   bottom: -170px;
}

path {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#one {
  background-color: #eefffe;
}
