#heading {
 padding-top: 30px;
 font-family: sans-serif;
 color: white;
}

body {
  background-color: black;
}

#container {
  width: 1300px;
  height: 770px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(background.jpg);
  margin: 20px auto;
}

#scoreboard{
  color: #293044;
  width: 1200px;
  height: 475px;
  background-color: #E8E8E8;
  centers it horizontally without changing the size
  margin: 0 auto;
  top: 30px;
  position: relative;
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;

  adds curly sides
  border-radius: 5px;

  adds shadow around the div
  box-shadow: 15px -9px 68px -4px rgba(0,0,0,0.54);
}
.number {
  font-size: 20px;
  background-color: #fef3d0;
  padding: 10px;
  border-radius: 50%;
}

table {
  padding-top: 30px;
  padding: auto;
  text-align: center;
  color: #293044;
}

#bonus {
  background-color: #f6ffe6;
}

#frame {
  background-color: #f4f3f8;
  /* fcffe9 */
}
.frames {
  padding-top: 30px;
  font-size: 15px;
  background-color: #eeefff;
  border-color: #f7f6f1;
}


.score {
  margin: 10px auto;
  font-size: 15px;
  background-color: #fcffe9;
  border-color: #e6f0ed;
}

.title {
  font-size: 29px;
  background-color: #ffe6e8;
  border-color: #f7f6f1;
}

#strike {
  font-size: 120px;
  color: red;
}

#spare {
  font-size: 100px;
  color: white;
}

.total {
  width: 100px;
  height: 100px;
  font-size: 30px;
  color: #293044;
  padding-bottom: 5px;
  border-radius: 50%;
  box-shadow: 15px -9px 68px -4px rgba(0,0,0,0.54), color: red;
  border-color: #f7f6f1;
}

#reset {
  font-size: 15px;
  color: #293044;
  border-radius: 5%;
  margin-right: 85%;
  padding: 5px;
}

.operators {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 2.5px;
  margin-bottom: 23px;
  margin-top: 23px;
  box-shadow: 10px -7px 68px -4px rgba(0,0,0,0.3);
  border-color: #f7f6f1;
}

#one {
  background-color: #eefffe;
}
