body {

  background-color: lightgrey;
  width: 400 px;

}

h1 {
  color: black;
  font-size: 100 px;
  padding: 50px 30px 30px;
  text-align: center;
  width: 300 px;
  font-family: Orbitron;
  border-bottom: 4px solid black;
}

h2 {
  font-family: Orbitron;
  font-size: 80 px;
  padding-left: 20px;

}

.pin1 {
  color: green;
}

.pinroll {

  width: 300 px;
  font-family: Orbitron;
  color: black;
  text-align: center;

}
