<!DOCTYPE html>
<html>
<head>
  <title>Bowling!</title>

  <link rel='stylesheet' type='text/css' href='/css/style.css'>
</head>

<body>

  <table class='table'>
  <tr>
    <td>Frame 1</td>
    <td>Frame 2</td>
    <td>Frame 3</td>
    <td>Frame 4</td>
    <td>Frame 5</td>
    <td>Frame 6</td>
    <td>Frame 7</td>
    <td>Frame 8</td>
    <td>Frame 9</td>
    <td>Frame 10</td>
  </tr>
  <tr>
    <td><div id='roll1'><h2></h2></div></td>
    <td><div id='roll2'><h2></h2></div></td>
    <td><div id='roll3'><h2></h2></div></td>
    <td><div id='roll4'><h2></h2></div></td>
    <td><div id='roll5'><h2></h2></div></td>
    <td><div id='roll6'><h2></h2></div></td>
    <td><div id='roll7'><h2></h2></div></td>
    <td><div id='roll8'><h2></h2></div></td>
    <td><div id='roll9'><h2></h2></div></td>
    <td><div id='roll10'><h2></h2></div></td>
  </tr>
</table>

<div class='button-area'>
<button id="roll1">Roll for 1</button>
<button id="roll2">Roll for 2</button>
<button id="roll3">Roll for 3</button>
<button id="roll4">Roll for 4</button>
<button id="roll5">Roll for 5</button>
<button id="roll6">Roll for 6</button>
<button id="roll7">Roll for 7</button>
<button id="roll8">Roll for 8</button>
<button id="roll9">Roll for 9</button>
<button id="roll10">Roll for 10</button>
</div>

<div> <h1>Follow the game flow here</h1>
  Where are we now?
  <h3>Frame: </h3>
  <h3>Roll: </h3>
</div>

<img src='css/img/bowling.jpg'></img>

  <footer>Bowling App in JS by @unicornelia</footer>

  <script src="/js/jquery-3.1.1.js"></script>
  <script src="/js/src/game.js"></script>
  <script src="/js/jquery.js"></script>

</body>

</html>
