<html>

  <head>
    <link href='/css/bootstrap.css' rel='stylesheet'>
    <link href='/css/bootstrap-responsive.css' rel='stylesheet'>
    <link href='/css/style.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>

 <body>

     <div class='container'>
        <input id='bowl' type='button' value='Lets Bowl!'>

        <ol id='frames'>
        </ol>

        <div> Your score is...</div>
        <div id='total'></div>
     </div>

    <script src='js/src/Scorecard.js'></script>
    <script src='js/src/ScorecardUI.js'></script>
 </body>


 </html>