<html>
  <head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src='../../public/src/Game.js'></script>
    <script src='../../public/src/index.js'></script>
  </head>

  <body>
    <div id='count1'></div>

    <div id='totalscore'></div>

    <div id='round1'>
        <input id='pins' placeholder='Round 1 Pins'></input>
        <button id='submitpins'>Submit</button>
    </div>

    <div id='end'></div>

    <div id='round2'>
        <input id='pins2' placeholder='Round 2 Pins'></input>
        <button id='submitpins2'>Submit</button>
    </div>

    <div id='spare'></div>


  </body>
</html>
