<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>BowlingApp</title>
    <!-- Bootstrap -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>Play!</h1>

    <div id="wrapper">
      <div class="top">
          <button class="button-start button">START</button>
      </div>

      <div class="right">
        <button class="button-roll button">ROLL</button><br>
        <button class="button-roll-again button">ROLL AGAIN</button><br>
        <button class="button-reset button">RESET</button><br>
      </div>

      <div class="score">
        <h4>Your score is: <div id="score">40pts</div></h4>
      </div>
    </div>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/scripts.js"></script>
  </body>
</html>
