  <!-- Frame 1
  <input id='f1r1' type='text' placeholder = 'Roll 1' />
  <input id='f1r2' type='text' placeholder = 'Roll 2' />
  Frame 2
  <input id='f2r1' type='text' placeholder = 'Roll 1' />
  <input id='f2r2' type='text' placeholder = 'Roll 2' />
  Frame 3
  <input id='f3r1' type='text' placeholder = 'Roll 1' />
  <input id='f3r2' type='text' placeholder = 'Roll 2' />
  Frame 4
  <input id='f4r1' type='text' placeholder = 'Roll 1' />
  <input id='f4r2' type='text' placeholder = 'Roll 2' />
  Frame 5
  <input id='f5r1' type='text' placeholder = 'Roll 1' />
  <input id='f5r2' type='text' placeholder = 'Roll 2' />
  Frame 6
  <input id='f6r1' type='text' placeholder = 'Roll 1' />
  <input id='f6r2' type='text' placeholder = 'Roll 2' />
  Frame 7
  <input id='f7r1' type='text' placeholder = 'Roll 1' />
  <input id='f7r2' type='text' placeholder = 'Roll 2' />
  Frame 8
  <input id='f8r1' type='text' placeholder = 'Roll 1' />
  <input id='f8r2' type='text' placeholder = 'Roll 2' />
  Frame 9
  <input id='f9r1' type='text' placeholder = 'Roll 1' />
  <input id='f9r2' type='text' placeholder = 'Roll 2' />
  Frame 10
  <input id='f10r1' type='text' placeholder = 'Roll 1' />
  <input id='f10r2' type='text' placeholder = 'Roll 2' />
  Frame 11
  <input id='f11r1' type='text' placeholder = 'Roll 1' />
  <input id='f11r2' type='text' placeholder = 'Roll 2' />
  Frame 12
  <input id='f12r1' type='text' placeholder = 'Roll 1' />
  <input id='f12r2' type='text' placeholder = 'Roll 2' />
  <input id='score-button' type='submit' value ='Check Score' /> -->
  <input id='roll' type="text">
  <button id='roll-button'> Roll </button>
  <div id="current_score"> </div>
