<html>

  <head>
    <link href='/css/bootstrap.css' rel='stylesheet'>
    <link href='/css/bootstrap-responsive.css' rel='stylesheet'>
    <link href='/css/style.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>

 <body>

     <div class='container' id='top'>
       <div class='header clearfix'>
          <div class='jumbotron'>
            <p id='centre'> <input id='bowl' class='btn btn-lg btn-success'type='button' value='Lets Bowl!'> </p>
            <br>

            <table id='frames'class="table table-condensed">
            <th> Frame </th>
            <th> Score </th>
            </table>

            <p> Your total score is...</p>
            <p id='total'></p>
            <br>
            <br>
            <p> <a class='btn btn-success'href='/'> Click to play again</a>
          </div>
      </div>
    </div>

    <script src='js/src/Scorecard.js'></script>
    <script src='js/src/ScorecardUI.js'></script>
 </body>


 </html>