doctype html
html
  head
    meta(charset='utf-8')
    title Ten Pin Bowling
    link(href='stylesheets/style.css', type='text/css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Rancho', type='text/css', rel='stylesheet')
  body
    h1 Ten Pin Bowling
    a(href='/score_card') Play
  script(src='https://code.jquery.com/jquery-2.1.4.min.js')
  script(src='javascripts/ScoreCard.js')
  script(src='javascripts/app.js')
