<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bowling Scorecard</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <%= yield %>
    <script type="text/javascript" src="/lib/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/src/Roll.js"></script>
    <script type="text/javascript" src="/src/Frame.js"></script>
    <script type="text/javascript" src="/src/ScoreSheet.js"></script>
    <script type="text/javascript" src="/src/interface.js"></script>
  </body>
</html>
