<body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Bowling Score</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h5 id="roundstats" class="cover-heading"></h5>
            <h4> Enter Roll Result </h4>
            <div id="create_buttons"></div>
            <br><br>
            <div>
              <div id="score_container"></div>
              <br><h4 id="round-score"></h4>
            </div>
          </div>


          <div class="mastfoot">
            <div class="inner">
              <p>Scoring app by <a href="http://www.henryhobhouse.com">Henry Hobhouse</a>, whilst at <a href="http://www.makersacademy.com/">Makers Academy</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/jqcontroller.js"></script>
    <script type="text/javascript" src="../js/tether.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
  </body>
</html>
