<h1>Play!</h1>

<div id="wrapper">
  <div class="top">
      <button class="button-start button">START</button>
  </div>

  <div class="right">
    <button class="button-roll button">ROLL</button><br>
    <button class="button-roll-again button">ROLL AGAIN</button><br>
    <button class="button-reset button">RESET</button><br>
      </div
  <div class="score">
    <h4>Your score is: <div id="score">40pts</div></h4>
  </div>
</div>
