<div id="wrapper">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
    <!-- <button class="button-roll button">ROLL</button><br> -->
    <h1 id="lucky"> Feeling lucky? </h1>
    <ul id="hexGrid">
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="images/1.jpg" alt="" />
            <h1 class="button-roll button">ROLL</h1>
            <p>Do not forget to roll again!</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="images/2.jpg" alt="" />
            <h1 class="button-roll-again">ROLL AGAIN</h1>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="images/3.png" alt="" />
            <h1 class ="button-get-result">RESULT</h1>
            <p>Here is your result!</p>
          </a>
        </div>
      </li>
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="images/main.jpg" alt="" />
            <h1 class="button-reset">RESET</h1>
            <p>Click here to reset current frame</p>
          </a>
        </div>
      </li>
  </ul>
</div>
