<body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Bowling Score</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h5 id="roundstats" class="cover-heading"></h5>
            <p class="lead">
              <div id="create_buttons"></div>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Scoring app by <a href="http://www.henryhobhouse.com">Henry Hobhouse</a>, whilst at <a href="https://makersacademy">Makers Academy</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/jqcontroller.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
