doctype html
html
  head
    meta(charset='utf-8')
    title Ten Pin Bowling
    link(href='style.css', type='text/css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Rancho', type='text/css', rel='stylesheet')
  body
    h1 Score Card
  script(src='lib/jquery-2.1.4.js')
  script(src='app/src/ScoreCard.js')
  script(src='app/src/app.js')
