table.table.table-striped#score-table
  thead
    tr
      th Frame
      th Roll
      th Pins
      th Score
      th Total Score
  tbody
    each roll in rolls
      tr
        td f
        td= roll
        td p
        td s
        td ts
