body {
  background-image: url("https://www.dropbox.com/s/rwrdsrsp81esycy/background%20image.jpg?raw=1");
  background-size: 100%;
}

h1 {
  font-family: "Comic Sans Ms";
  color: white;
  text-align: center;
  font-size: 40px;
}

p {
  font-family: "Comic Sans Ms";
  color: white;
  margin-left: 380px;
  font-weight: bold;
  font-size: 35px;
}

button:hover{
  background-color: white;
  border: 1px solid #cc0000;
  color: #cc0000;
}

.button1 {
  margin-left: 170px;
}

button {
  border: 1px solid white;
  font-size: 20;
  background-color: #e6e600;
  border-radius:10px;
  padding: 8px 15px;
}

.newscore {
  margin-top: 30px;
  margin-left: 390px;
  background-color: #3189CD;
  font-family: Arial;
  color: white;
}

table, td, th {
  border:1px solid #3189CD;
  margin-left: 100px;
  color: #ff0080;
  font-size:15px;
}

span {
  color: white;
}


td {height: 10px; background: rgba(255, 255, 255, 0.5);}
