body {
  font-family: monospace;
}

#main-scoresheet {
  border: 2px solid black;
}

#name-heading {
  width: 100px;
}

th, td {
  border: 1px solid black;
  text-align: center;
}

button {
  margin: 10px;
}
