body {
  font-family: monospace;
  height: 100%;
  text-align: center;
  color: black;
  font-size: 25px;
  font-family: monospace;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;

}

#main-scoresheet {
  border: 2px solid black;
}

#name-heading {
  width: 100px;
}

th, td {
  border: 1px solid black;
  text-align: center;
}

.pin {
  height: 40px;
  width: 40px;
  font-size: 15px;
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  outline: none;
  margin: 10px;
  border-radius: 90%;
}

button:hover {
  background-color: #008CBA;
  color: white;
}

.unusedframe {
  border: 1px solid rgba(255,255,255,0);
  color: rgba(255,255,255,0);
}

#table-div {
  padding: 20px;
  margin: 10px;
  background-color: rgba(255,255,255,0.9);
  display: flex;
  justify-content: center;
}

#play-again {
  height: 40px;
  width: 100px;
  font-size: 15px;
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  outline: none;
  margin: 10px;
  border-radius: 10%;
  visibility: hidden;
}

#play-again:hover {
  background-color: #008CBA;
  color: white;
}

.bg {
  /* background-image: url("../images/bowling-background.jpg"); */
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  height:100%;
}
