body {
  background: url('https://s-media-cache-ak0.pinimg.com/originals/08/74/fe/0874feb9a2c5fc35fcf85df3ec9de158.jpg') center fixed;
  background-size: cover;
  margin:0;
  padding:0;
  border:0;
  font-family: 'Anton', sans-serif;

}

.number {
  color:red;
  position:absolute;
  top:50%;
  left:50%;
  z-index: 999;
  /*-webkit-animation: flying 5s 1;*/
  /*animation: flying 5s 1;*/
  /*display:none;*/
}



.number-on {
  color:green;
  transform: rotate(90deg) scale(0.2)
  animation: spin 1.75s fade-in-out;
}

.loader {
  position: relative;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  overflow: hidden;
  margin: 0 auto;
}
.ball {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  z-index: 50;
  -webkit-animation: spin .75s infinite;
  -ms-animation: spin .75s infinite;
  -moz-animation: spin .75s infinite;
  animation: spin .75s infinite;
}
.ball-gradient {
  position: absolute;
  top: -70px;
  left: -60px;
  width: 200px;
  height: 200px;
  background-position: -50px -50px;
  background: #d8c87f; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMTElIiBzdG9wLWNvbG9yPSIjZDhjODdmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTElIiBzdG9wLWNvbG9yPSIjZDhjODdmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTIlIiBzdG9wLWNvbG9yPSIjZGRiYjIyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzQlIiBzdG9wLWNvbG9yPSIjZGRiYjIyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzUlIiBzdG9wLWNvbG9yPSIjYTM4NTAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2EzODUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-radial-gradient(center, ellipse cover, #d8c87f 11%, #d8c87f 11%, #ddbb22 12%, #ddbb22 34%, #a38500 35%, #a38500 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(11%,#d8c87f), color-stop(11%,#d8c87f), color-stop(12%,#ddbb22), color-stop(34%,#ddbb22), color-stop(35%,#a38500), color-stop(100%,#a38500)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #d8c87f 11%,#d8c87f 11%,#ddbb22 12%,#ddbb22 34%,#a38500 35%,#a38500 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #d8c87f 11%,#d8c87f 11%,#ddbb22 12%,#ddbb22 34%,#a38500 35%,#a38500 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #d8c87f 11%,#d8c87f 11%,#ddbb22 12%,#ddbb22 34%,#a38500 35%,#a38500 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, #d8c87f 11%,#d8c87f 11%,#ddbb22 12%,#ddbb22 34%,#a38500 35%,#a38500 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8c87f', endColorstr='#a38500',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
  z-index: 31;
}
.hole:nth-child(2) {
  position: absolute;
  top: 20px;
  left: 35px;
  width: 10px;
  height: 10px;
  background: rgba(0,0,0,.6);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 55;
}
.hole:nth-child(3) {
  position: absolute;
  top: 38px;
  left: 50px;
  width: 10px;
  height: 10px;
  background: rgba(0,0,0,.6);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 55;
}
.hole:nth-child(1) {
  position: absolute;
  top: 18px;
  left: 60px;
  width: 10px;
  height: 10px;
  background: rgba(0,0,0,.6);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 55;
}
.shadow {
  width: 100px;
  height: 25px;
  background: rgba(0,0,0,.6);
  /*-moz-border-radius: 100px / 25px;
  -webkit-border-radius: 100px / 25px;*/
  border-radius: 100px / 25px;
  margin: -14px auto 0;
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@keyframes flying {
  from {transform:rotate(0deg);transform:scale(0);}
  to {transform:rotate(360deg);transform:scale(50);opacity: 0.3;}
}

.ctrl {
  width:100px;
}

.shake {
  display:inline-block;
  font-size: 70px;
  color: black;
  text-shadow: 1px 1px red;
}
/*.shake:hover {
-webkit-animation-name: wiggle;
-webkit-animation-duration: 1.2s;
-webkit-transform-origin:50% 50%;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
}*/

@-webkit-keyframes wiggle {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}


table {
  border-collapse:collapse;
  /*table-layout:fixed;*/
  width:90%;
}

/*table td {
border:solid 1px #fab; width:100px; word-wrap:break-word
}*/
#frames-table td {
  border: 1px solid black;
  /*width:50px;*/
  text-align:center;
  height:20px;

}

table, th, td {
  border: 1px solid black;

}

table th {
  background-color:grey;
  width:50px;
  height:20px;
  /*display:inline-block;*/
}

ul {
  list-style:none;
  margin-left: 5px;
  padding-left: 5px;
}

ul i {
  padding: 5px 10px 5px 2px;
}

#scorecard-inner {
  position: absolute;
  background-color: rgba(252,251,227, 0.8);
  border-right: 3px solid black;
  box-shadow: 10px 10px 5px #333;
  border-radius: 10px;
  margin-top: 5%;
  height: 80%;
  width: 500px;
  left: -100%;
}

#music-inner {
  position: absolute;
  background-color: rgba(252,251,227, 0.6);
  border-left: 3px solid black;
  box-shadow: 0 0 10px 10px #333;
  border-radius: 10px;
  margin-top: 5%;
  height: 80%;
  width: 500px;
  right: -100%;
}

#scores-back-btn {
  margin:20px;
  padding:5px;
  border-radius: 5px;
}

#music-back-btn {
  margin:20px;
  padding:5px;
  border-radius: 5px;
}
