/* The parent CSS file for all the others */

@font-face {
  font-family: 'BebasNeue';
  src: url('./fonts/BebasNeue/woff2-cffbased/BebasNeue-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

/* Cool palette to use:
#F2C2E0 (a lighter shade of pinkish purple)
#B992E6 (a deeper shade of purple)
#9ED9CC (a light teal or greenish blue)
#F3E0C5 (a light beige or peachy color)
#FFA69E (a coral or salmon pink)
#E1E1E1 (a light gray) */