/*
This is the parent CSS file for all other CSS files in the project.
It includes the @font-face rule to define custom fonts for use in the project.
*/

/* Define the custom font 'BebasNeue' */
@font-face {
  font-family: 'BebasNeue';
  src: url('./fonts/BebasNeue/woff2-cffbased/BebasNeue-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Define the custom font 'Roboto' */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
