<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bowling Game!</title>
  </head>
  <body>
    <h1> Welcome </h1>
    <h1> Result = <span id="score"></span></h1>
    <h2> Scorecard </h2>
      <button id="btn0" type="button" class="btn" title="0">0</button>
      <button id="btn1" type="button" class="btn" title="1">1</button>
      <button id="btn2" type="button" class="btn" title="2">2</button>
      <button id="btn3" type="button" class="btn" title="3">3</button>
      <button id="btn4" type="button" class="btn" title="4">4</button>
      <button id="btn5" type="button" class="btn" title="5">5</button>
      <button id="btn6" type="button" class="btn" title="6">6</button>
      <button id="btn7" type="button" class="btn" title="7">7</button>
      <button id="btn8" type="button" class="btn" title="8">8</button>
      <button id="btn9" type="button" class="btn" title="9">9</button>
      <button id="btn10" type="button" class="btn" title="10">10</button>
    <script src="../src/jquery.js"></script>
    <script src="../src/Game.js"></script>
    <script src="../src/Interface.js"></script>
  </body>
</html>
