<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <title>Bowling Challenge!</title>
</head>
<body>

  <section></section>

  <section>
    <h1>BOWLING!</h1>
    <h2>Please enter your first score</h2>
    <form action="">
      <input type="submit" value ="1">
      <input type="submit" value ="2">
      <input type="submit" value ="3">
      <input type="submit" value ="4">
      <input type="submit" value ="5">
      <input type="submit" value ="6">
      <input type="submit" value ="7">
      <input type="submit" value ="8">
      <input type="submit" value ="9">
      <input type="submit" value ="10">


    </form>
  </section>

  <section><div class="container">
      <div class="frame">Frame 1</div>
      <div class="frame">Frame 2</div>
      <div class="frame">Frame 3</div>
      <div class="frame">Frame 4</div>
      <div class="frame">Frame 5</div>
      <div class="frame">Frame 6</div>
      <div class="frame">Frame 7</div>
      <div class="frame">Frame 8</div>
      <div class="frame">Frame 9</div>
      <div class="frame">Frame 10</div>

      <div class="scores">
        <div class="first-score">1</div>
        <div class="second-score">2</div>
        <div>
          <div class="end-score">3</div>
        </div>
      </div>

      <div class="scores">
        <div class="first-score">1</div>
        <div class="second-score">2</div>
        <div>
          <div class="end-score">3</div>
        </div>
      </div>

      <div class="scores">
        <div class="first-score">1</div>
        <div class="second-score">2</div>
        <div>
          <div class="end-score">3</div>
        </div>
      </div>

      <div class="scores">
        <div class="first-score">1</div>
        <div class="second-score">2</div>
        <div>
          <div class="end-score">3</div>
        </div>
      </div>

      <div class="scores">
        <div class="first-score">1</div>
        <div class="second-score">2</div>
        <div>
          <div class="end-score">3</div>
        </div>
      </div>

      <div class="scores">
        <div class="first-score">1</div>
        <div class="second-score">2</div>
        <div>
          <div class="end-score">3</div>
        </div>
      </div>

      <div class="scores">
        <div class="first-score">1</div>
        <div class="second-score">2</div>
        <div>
          <div class="end-score">3</div>
        </div>
      </div>

      <div class="scores">
        <div class="first-score">1</div>
        <div class="second-score">2</div>
        <div>
          <div class="end-score">3</div>
        </div>
      </div>

      <div class="scores">
        <div class="first-score">1</div>
        <div class="second-score">2</div>
        <div>
          <div class="end-score">3</div>
        </div>
      </div>

      <div class="scores">
        <div class="first-score">1</div>
        <div class="second-score">2</div>
        <div>
          <div class="end-score">3</div>
        </div>
      </div>
      
      
    </section>


  
</body>
</html>