.low-usage {
    color: green;
}
.medium-usage {
    color: black;
}
.high-usage {
    color: red;
}

.button {
    background-color: white; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

h1 {
    font-size: 800%;
    font-stretch: ultra-expanded;
    margin-top: -20px;
    margin-bottom: 20px;
    color: white;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 125%;
}

p {
    font-size: 150%;
}

p2 {
    font-size: 150%;
}
#container{
  background-color: grey;
  height: 500px;
  width: 1000px;
  z-index: 5;
  border: 2px solid;
  border-radius: 25px;
}

#framebox{
  align-items: center;
  margin-left: auto;
  background-color: white;
  display: inline-block;
  height: 110px;
  width: 90px;
  border: 2px solid;
}

#firstballbox{
  /*align-self: flex-end;*/
  background-color: yellow;
  display: inline-block;
  height: 30px;
  width: 41px;
  z-index: 5;
  border: 2px solid;

}

#secondballbox{

}
